.nav-link-container a {
  color: rgba(255, 255, 255, 0.7);
}

.nav-link-container .nav-link-number {
  border-radius: 12px;
  border: solid 1px rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 10px;
  min-width: 1rem;
  height: 1rem;
  margin-top: 2px;
  margin-right: 0.5rem;
}

.nav-link-container a:hover {
  text-decoration: none;
}

.navbar .navbar-toggle {
  background-color: #181c2f;
  text-align: center;
  margin-bottom: 10px;
  display: none;
}

div[data-once="filter-guidelines"] {
  display: none;
}

.views-field-node-bulk-form span,
#comment-form details > .form-item,
#comment-form summary,
.tabledrag-handle,
.tabledrag-toggle-weight-wrapper,
.node-mps-form .form-item-field-tp-data-0-value-time {
  display: none;
}

.document-list .views-row, .task-comment-attach {
  cursor: pointer;
}

.document-list .views-field-field-tp-utverzhdeno {
  position: absolute;
  bottom: 19px;
  right: 20px;
}

.document-list .views-field-title,
.document-list .views-field-nid,
.document-list .views-field-field-tl-fio,
.document-list .views-field-field-tm-mail-from {
  clear: both;
  padding: 4px 0 4px;
}

.document-list .views-label {
  margin-right: 3px;
}

.document-list .field-content {
  font-weight: bold;
}

.document-list .views-field {
  display: flex;
}

input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.stroki-table td {
  padding: 0;
  border: none;
  vertical-align: middle;
}

.stroki-table th {
  border: none;
}

.stroki-table .form-text {
  margin-top: 0;
}

.stroki-table .mb-3 {
  margin-bottom: 0!important;
}

.stroki-table .js-form-type-date {
  margin-right: 10px;
  width: 100px;
}

#edit-actions > input,
#edit-actions > a {
  margin-left: 10px;
}

.navbar.course-plan {
  width: 100%;
}

.navbar.course-plan ~ .page-wrapper {
  margin-left: 0;
}

.course-plan-menu .dropdown-item {
  white-space: normal;
}

.empty-list svg {
  height: 80px;
  width: 80px;
}

.navbar-brand {
  margin-top: 8px;
  margin-bottom: 5px;
}

.chat-bubble-author span {
  font-weight: normal;
}

.form-item legend {
  margin-bottom: 0;
}

.navbar.navbar-vertical {
  overflow-y: auto;
}

.course-plan-menu .current {
  border: solid 1px;
  width: 100%;
  padding: 0 3px;
}

.field--type-entity-reference .field-multiple-drag {
  display:none;
}

.field--type-entity-reference th,
.field--type-entity-reference td {
  border-bottom: none;
}

.field--type-entity-reference td input,
.field--type-entity-reference td select {
  margin-bottom: 0.75rem!important;
}

.document-list .views-field-field-tz-tema .field-content {
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tg.div-container * {
  font-family: var(--tblr-font-sans-serif)!important;
}

.add-doc-btn svg.icon,
.custom-btn svg.icon {
  margin: 0;
}

.node-form input,
.node-form select,
.node-form textarea,
.node-form .ts-wrapper {
  border-radius: 0;
}

.node-form .stroki-table input{
  padding-left: 0px;
  padding-right: 0px;
}

.node-form input:focus,
.node-form select:focus,
.node-form .ts-wrapper:focus {
  /*border-radius: 0;*/
  outline:none!important;
  box-shadow: none;
}

.stroki-table td input,
.stroki-table td select {
  border: none;
  box-shadow: none;
  margin-bottom: 0px!important;
}

.stroki-table td,
.stroki-table th {
  border: var(--tblr-border-width) solid var(--tblr-border-color);
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

.stroki-table tr td:first-child,
.stroki-table tr th:first-child {
  text-align: center;
}

.field-wrapper > div:first-child {
  margin-right: 5px;
}

.stroki-table .cena,
.stroki-table .kolichestvo,
.stroki-table .skidka_procent,
.stroki-table .skidka_summa {
  max-width: 100px;
}

em.placeholder {
  font-style: normal;
}

.placeholder {
  opacity: 1;
  background-color: transparent !important;
}

#updateprogress .progress__track {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

#updateprogress {
  height: 100%;
  display: block;
  padding: 20px 20px;
}

.views-field-node-bulk-form .form-check {
  margin-bottom: 0;
}

.styled-table {
  border-collapse: collapse;
  border-spacing: 0;
  border: solid 1px black;
}

.styled-table thead th {
  background-color: gainsboro;
  text-transform: none;
}

.styled-table thead th,
.styled-table tbody td {
  font-size: 14px;
  font-weight: normal;
  color: black;
  border: solid 1px black;
  padding: 5px;
}

.placeholder:not(.btn):not([class*="bg-"]) {
  background-color: transparent!important;
}

.admin-course-structure-form a.tabledrag-handle {
  display: block;
}
.admin-course-structure-form a.tabledrag-handle .handle {
  width: 23px;
  height: 23px;
  margin: 0;
  padding: 0;
  background-position: 2px 2px;
}

.js input.form-autocomplete {
  background-image: none;
}

.input-group {
  box-shadow: none;
}

.mrp-report-table {
  margin-bottom: 10px!important;
  width: auto;
}

.mrp-report-table td,
.bom-table td,
.dataTable td,
.dataTable th {
  border-width: var(--tblr-border-width);
}

.dataTable {
  border-style: solid;
  border-width: var(--tblr-border-width);
}

.mrp-report-table td {
  padding-top: 2px!important;
  padding-right: 2px!important;
  padding-bottom: 2px!important;
}

.mrp-report-table tr td:not(:first-child) {
  text-align: center;
}


.mrp-report-table tr td:first-child {
  width: 350px;
  min-width: 350px;
}

.mrp-report-table tr td:last-child {
  padding-right: 2px;
}

.mrp-report-table tr:nth-child(2) td:first-child span {
  width: 350px;
  min-width: 350px;
  overflow: hidden;
  display: inline-block;
}

.mrp-report-table tr td:first-child {
  white-space: nowrap;
}

.mrp-report-table tr td {
  width: 43px;
  min-width: 43px;
  font-weight: bold;
  padding: 2px;
}

.mrp-report-table tr:nth-child(2) td {
  font-weight: normal;
}

.mrp-report-table tr td:first-child {
  width: auto;
  font-weight: normal;
  padding-left: 1.25rem;
}
.mrp-report-table tr:first-child td {
  font-weight: normal;
  text-align: left;
  padding-left: 1.25rem;
}

.grid-proizvodstvenniy-kalendar {
  display: grid;
  grid-template-columns: repeat(7, 60px);
}
.grid-proizvodstvenniy-kalendar > div {
  border: solid 1px #dadfe5;
  height: 60px;
  position: relative;
}
.grid-proizvodstvenniy-kalendar div.th,
.grid-proizvodstvenniy-kalendar div.week-num {
  text-align: center;
  padding-top: 20px;
}
.grid-proizvodstvenniy-kalendar div.day:before {
  content: "";
  display: block;
  rotate: -45deg;
  position: absolute;
  width: 141%;
  height: 100%;
  border-top: solid var(--tblr-border-width) #dadfe5;
  top: 20px;
  left: 9px;
}
.grid-proizvodstvenniy-kalendar div.day span {
  position: absolute;
}
.grid-proizvodstvenniy-kalendar div.day span:first-child {
  top: 2px;
  left: 5px;
  display: inline-block;
}
.grid-proizvodstvenniy-kalendar div.day span:last-child {
  bottom: 2px;
  right: 5px;
  display: inline-block;
  font-weight: bold;
}
.grid-proizvodstvenniy-kalendar .month {
  grid-column: 1 / 8;
  text-align: center;
  padding-top: 20px;
}

.mrp-report-table tr:first-child td:first-child {
  border-bottom:none;
}

.mrp-report-table tr:nth-child(2) td:first-child {
  border-top:none;
  padding-left: 0;
}

.mrp-report-table tr:nth-child(3) td:first-child,
.mrp-report-table tr:nth-child(4) td:first-child,
.mrp-report-table tr:nth-child(5) td:first-child,
.mrp-report-table tr:nth-child(6) td:first-child,
.mrp-report-table tr:nth-child(2) td:nth-child(2),
.mrp-report-table tr:nth-child(1) td:nth-child(2) {
  border-left-width: 2px;
  border-left-color: black;
  border-left-style: solid;
}

.mrp-report-table tr:nth-child(3) td:first-child,
.mrp-report-table tr:nth-child(1) td:nth-child(2) {
  border-top-width: 2px;
  border-top-color: black;
  border-top-style: solid;
}

.mrp-report-table tr:nth-child(1) td:last-child,
.mrp-report-table tr:nth-child(2) td:last-child,
.mrp-report-table tr:nth-child(3) td:last-child,
.mrp-report-table tr:nth-child(4) td:last-child,
.mrp-report-table tr:nth-child(5) td:last-child,
.mrp-report-table tr:nth-child(6) td:last-child{
  border-right-width: 2px;
  border-right-color: black;
  border-right-style: solid;
}

.mrp-report-table tr:last-child,
.mrp-report-table tr:nth-child(2) td {
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.trinion-mrp-bom .form-item-tovar {
  margin-bottom: 0!important;
}

.trinion-mrp-bom .form-item-tovar input {
  margin: 0;
}

.form-time {
  height: 40px;
}

.doc_form .mps-view-table.ti td,
.mps-input-table td input {
  min-width: 30px;
  text-align: center;
}

.mps-input-table tr td:first-child input,
.doc_form .mps-view-table tr td:first-child {
  min-width: 150px;
  text-align: left;
}

.mps-input-table tr td select {
  width: 80px;
}

.modal {
  z-index: 1;
}

.modal-backdrop {
  z-index: 0;
}

.dataTable .numeric-width {
  width: 120px;
}
.dataTable .date-width {
  width: 100px;
}
.dataTable .document-width {
  width: 120px;
}

.field-multiple-table .form-label {
  margin-bottom: 0;
}

#edit-sklad-podrazdelenie-wrapper svg {
  width: 100px;
  height: 40px;
}

#edit-otvetstvennyy-shablon-wrapper .form-actions {
  margin-top: 28px!important;
}

#edit-otvetstvennyy-shablon-wrapper .form-actions,
#edit-otvetstvennyy-shablon-wrapper .form-actions input {
  width: 100%!important;
}

#task-projects-permissions tr td:last-child {
  text-align: right;
}

.page-title {
  display: block;
}

.page-title em {
  vertical-align: inherit;
  font-style: normal;
}

.card .messages-wrapper {
  padding: 0;
}

.dropdown-menu-arrow.dropdown-menu-end:before {
  right: .5rem;
}

.modal {
  z-index: 100;
}

@media (min-width: 992px) {
  .navbar-vertical.navbar-expand-lg {
    width: 260px;
  }

  .logout-link {
    display: none!important;
  }

  .minified-menu .navbar-toggle {
    transform: rotate(180deg);
  }

  .navbar.minified-menu {
    width: 4rem;
  }

  .navbar.minified-menu h1 {
    visibility: hidden;
  }

  .navbar.minified-menu .text-white,
  .navbar.minified-menu .ps-1 {
    display: none;
  }

  .minified-menu.navbar-vertical.navbar-expand-lg {
    width: 56px;
  }

  .navbar-expand-lg.navbar-vertical ~ .page-wrapper {
    margin-left: 260px;
  }

  .menu-collapsed .navbar-expand-lg.navbar-vertical ~ .page-wrapper {
    margin-left: 55px;
  }

  .menu-collapsed .navbar-expand-lg.navbar-vertical ~ .navbar {
    margin-left: 0;
  }

  .navbar.course-plan ~ .page-wrapper {
    margin-left: 25%;
  }

  .navbar.course-plan {
    width: 25%;
  }

  .navbar.course-plan ~ .page-wrapper > .layout-fluid > .container-xl {
    max-width: 70%;
    float: none !important;
  }

  .navbar .navbar-toggle {
    display: block;
  }
}
