{% set account =  comment.get('uid').entity %}
{% set nickname = account.get('field_tb_nick_name').getString() %}
{% set user_name = nickname ? nickname : account.label() %}
{% set avatar = account.get('user_picture').0.entity.uri.value %}
<div class="chat-item">
  <div class="row align-items-end {{ parent_comment.id() ? '' : 'justify-content-end' }}">
    <div class="col col-lg-6">
      <div class="chat-bubble chat-bubble-me">
        <div class="chat-bubble-title">
          <div class="row">
            <div class="col chat-bubble-author">{{ user_name }}</div>
            <div class="col-auto chat-bubble-date">{{ comment.get('created').getString() | format_date('custom', 'j.m H:i') }}</div>
          </div>
        </div>
        <div class="chat-bubble-body">
          {{ content | without('links') }}
        </div>
      </div>
    </div>
    <div class="col-auto">
      {% if avatar %}
        <span class="avatar" style="background-image: url({{ file_url(avatar) }})"></span>
      {% else %}
        <span class="avatar">{{ user_name | slice(0, 2) }}</span>
      {% endif %}
    </div>
  </div>
</div>
