<a href="{{ path('trinion_suo.complete_lesson_ajax', {node: nid}) }}" class="use-ajax btn btn-primary mt-3 mb-3">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 18l6 -6l-6 -6v12" /></svg>
  {{ 'Go to the next lesson' | t }}
</a>
