<div class="collapse navbar-collapse course-plan-menu" id="sidebar-menu">
  <ul class="navbar-nav pt-lg-3">

    {% for key, cat in categories.sub_categories  %}
    <li class="nav-item dropdown nav-link-container{{ cat.have_current_lesson ? ' active' }}">
      <a class="nav-link dropdown-toggle col d-flex{{ cat.have_current_lesson ? ' show' }}" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
        <span class="nav-link-number">{{ loop.index }}</span>
        <span class="nav-link-title">{{ cat.name }}</span>
      </a>
      <div class="dropdown-menu{{ cat.have_current_lesson ? ' show' }}">
        {%  for lesson in cat.lessons %}
        <a class="dropdown-item" href="/node/{{ lesson.id() }}">
          <span class="nav-link-icon d-md-none d-lg-inline-block">
          {% if lesson.bundle() == "urok_kursa"  %}
            {% if lesson.field_ts_vid_uroka.0.value == "Видео" %}
              {% include '@trinion_backend/svg/video.svg' %}
            {% elseif lesson.field_ts_vid_uroka.0.value == "Практическое задание"  %}
              {% include '@trinion_backend/svg/flask.svg' %}
            {% else %}
              {% include '@trinion_backend/svg/file-description.svg' %}
            {% endif %}
          {% elseif lesson.bundle() == "test"  %}
            {% include '@trinion_backend/svg/user-question.svg' %}
          {% endif %}
          </span>
          <span class="nav-link-title{{ lesson.current_lesson ? ' current' }}">{{ lesson.label }}</span>
        </a>
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
