{% if comments and not label_hidden %}
  {{ title_prefix }}
  <h2{{ title_attributes }}>{{ label }}</h2>
  {{ title_suffix }}
{% endif %}

<div class="chat">
  <div class="chat-bubbles">
{{ comments }}
  </div>
</div>

{% if comment_form %}
  {{ comment_form }}
{% endif %}
