<label class="form-selectgroup-item flex-fill">
  {{ children }}
  <div class="form-selectgroup-label d-flex align-items-center p-3">
    <div class="me-3">
      <span class="form-selectgroup-check"></span>
    </div>
    <div>
      {{ label }}
    </div>
  </div>
</label>
