{{ attach_library('trinion_suo/plyr') }}
<article{{ attributes }}>
  <div class="col-xl-12 col-md-12 col-12 mb-md-0 mb-4">
    <div class="card-body">
      <div{{ content_attributes }}>
        {{ content.field_ts_opisanie }}
        {% set protected_video = node.field_ts_zaschischyonnoe_video.getString() %}
        {% if protected_video %}
          {{ node.field_ts_zaschischyonnoe_video.getString() | raw }}
        {% elseif node.field_ts_video.0 %}
          <video class="player w-100" controls playsinline id="lesson-player">
            <source src="{{ file_url(node.field_ts_video.0.entity.getFileUri()) }}" type="video/mp4">
          </video>
        {% endif %}
        {{ content.complete_lesson_button }}
      </div>
    </div>
  </div>
</article>
