{{ attach_library('trinion_suo/plyr') }}
<article{{ attributes }}>
  <div class="col-xl-12 col-md-12 col-12 mb-md-0 mb-4">
    <div class="card-body">
      <div{{ content_attributes }}>
        {{ content.field_ts_opisanie }}
        {{ drupal_form('Drupal\\trinion_suo\\Form\\TestForm') }}
        {{ content.complete_lesson_button }}

        {{ content.field_ts_course_comments }}
      </div>
    </div>
  </div>
</article>
