<div class="accordion bg-white" id="lessons">

    <div class="accordion-item mt-3">
      <h2 class="accordion-header" id="heading-{{ term.id() }}">
        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ term.id() }}" aria-expanded="false">
          {{ name }}
        </button>
      </h2>
      <div id="collapse-{{ term.id() }}" class="accordion-collapse collapse" data-bs-parent="#lessons">
        <div class="accordion-body pt-0">
          <div class="list-group list-group-flush list-group-hoverable">
            {{ drupal_view('view_course_lessons', 'block_1', term.id()) }}
            {% for less in cat.lessons %}
              <div class="list-group-item ps-0 pe-0 border-bottom-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                  <span class="avatar">
                    {% if less.bundle() == "urok_kursa"  %}
                      {% if less.field_ts_vid_uroka.0.value == "Видео" %}
                        {% include '@trinion_backend/svg/video.svg' %}
                      {% elseif less.field_ts_vid_uroka.0.value == "Практическое задание"  %}
                        {% include '@trinion_backend/svg/flask.svg' %}
                      {% else %}
                        {% include '@trinion_backend/svg/file-description.svg' %}
                      {% endif %}
                    {% elseif less.bundle() == "test"  %}
                      {% include '@trinion_backend/svg/user-question.svg' %}
                    {% endif %}
                  </span>
                  </div>
                  <div class="col text-truncate">
                    <a href="{{ path('entity.node.canonical', {'node': less.id()}) }}" class="text-reset d-block">{{ loop.index }}. {{ less.label() }}</a>
                    <div class="d-block text-secondary text-truncate mt-n1">{{ less.get('field_ts_opisanie').0.value | striptags | raw }}</div>
                  </div>
                  {% if less.bundle() == 'urok_kursa' %}
                    <div class="col-auto">
                      {% include '@trinion_backend/svg/clock-hour-1.svg' %} {{ less.get('field_ts_length').getString() }} мин.
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>

