{% set less = row._entity %}
<div class="ps-0 pe-0 mb-3 border-bottom-0">
  <div class="row align-items-center">
    <div class="col-auto">
      <span class="avatar">
        {% if less.bundle() == "urok_kursa"  %}
          {% if less.field_ts_vid_uroka.0.value == "Видео" %}
            {% include '@trinion_backend/svg/video.svg' %}
          {% elseif less.field_ts_vid_uroka.0.value == "Практическое задание"  %}
            {% include '@trinion_backend/svg/flask.svg' %}
          {% else %}
            {% include '@trinion_backend/svg/file-description.svg' %}
          {% endif %}
        {% elseif less.bundle() == "test"  %}
          {% include '@trinion_backend/svg/user-question.svg' %}
        {% endif %}
      </span>
    </div>
    <div class="col text-truncate">
      <a href="{{ path('entity.node.canonical', {'node': less.id()}) }}" class="text-reset d-block">{{ fields.counter.content }}. {{ less.label() }}</a>
      <div class="d-block text-secondary text-truncate mt-n1">{{ less.get('field_ts_opisanie').0.value | striptags | raw }}</div>
    </div>
    {% if less.bundle() == 'urok_kursa' %}
      <div class="col-auto">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-clock-hour-1"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 7v5" /><path d="M12 12l2 -3" /></svg> {{ less.get('field_ts_length').getString() }} мин.
      </div>
    {% endif %}
  </div>
</div>
