<div class="row row-cards">
  <div class="row row-cards">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="row row-0">
          <div class="col">
            <div class="card-body">
              <h3 class="card-title">{{ fields.name.content }}</h3>
              <p class="text-secondary">{{ fields.description__value.content }}</p>
              {{ fields.nothing.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
