<h2 class="h2 text-center mb-4">{{ 'Sign in' | t }}</h2>
<form{{ attributes }}>
  {{ children }}
  <div class="text-center text-secondary mt-3">
    {{ 'Don\'t have account yet?' | t }} <a href="/user/register" tabindex="-1">{{ 'Sign up' | t }}</a>
  </div>
</form>
