<h2 class="h2 text-center mb-4">{{ 'Create new account' | t }}</h2>
<form{{ attributes }}>
  {{ children }}
  <div class="text-center text-secondary mt-3">
    {{ 'Already have account?' | t }} <a href="/user" tabindex="-1">{{ 'Sign in' | t }}</a>
  </div>
</form>
