<div class="modal modal-blur fade" id="page-list-filter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'Filter' | t }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form{{ attributes }}>
          {{ element.date }}
          {{ element.form_build_id }}
          {{ element.form_token }}
          {{ element.form_id }}
          {{ element.actions }}
        </form>
      </div>
    </div>
  </div>
</div>
{{ element.table }}
