<form{{ attributes }}>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4 col-md-5 col-6">
          {% if element.counter %}
          <div class="subheader">{{ 'Time for complete task' | t }}</div>
          <div class="h3 m-0">{{ element.counter | raw }}</div>
          {% endif %}
        </div>
        <div class="col">{{ element.antibot_key }} {{ element.form_build_id }} {{ element.form_token }} {{ element.form_id }} {{ element.actions }}</div>
      </div>
    </div>
  </div>
</form>
