<div class="mb-2">
  <label class="form-label">
    {{ label['#title'] }}
    <span class="form-label-description">
      <a href="/user/password">{{ 'I forgot password' | t }}</a>
    </span>
  </label>
  <div class="input-group input-group-flat">
    {{ children }}
    <span class="input-group-text">
      <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
      </a>
    </span>
  </div>
</div>
