<form{{ attributes }}>
  {% if element.output|render|length < 200 %}
    <div class="d-flex justify-content-center empty-list">
      <img src="/{{ directory }}/img/list-empty.png" alt="" width="100px" class="mb-3">
    </div>
  {% else %}
    {{ element.output }}
    <div class="card-footer align-items-start container-xxl">
      <div class="row">
        <div class="col-lg-4">
          {{ element.header.node_bulk_form.action }}
        </div>
        <div class="col-lg-3 mt-3 mb-3 mt-lg-0 mb-lg-0">
          {{ element.header.node_bulk_form.actions }}
        </div>
        <div class="col-lg-2 align-content-center">{{ element.result }}</div>
        <div class="col-lg-3 align-content-center">{{ element.pager }}</div>
      </div>
    </div>
  {% endif %}

  {{ element.form_build_id }}
  {{ element.form_token }}
  {{ element.form_id }}
</form>
