<div class="modal modal-blur fade" id="modal-fast-task" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'Fast task' | t }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close' | t }}"></button>
      </div>
      <form{{ attributes }}>
        <div class="modal-body">
          <div class="input-group mb-2">
            {{ element.text }}
            {{ element.actions.submit }}
          </div>
          {{ element.antibot_key }} {{ element.form_build_id }} {{ element.form_token }} {{ element.form_id }}
        </div>
      </form>
    </div>
  </div>
</div>
