{%
  set classes = [
    'list-table',
    'mt-2',
  ]
%}
<div{% if dom_id %} class="js-view-dom-id-{{ dom_id }}"{% endif %}>
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-end">
      <div class="col">
        {% if view.id == 'zadachi_naznachennye_mne' %}
          <div class="nav-item dropdown">
            <div class="page-pretitle">{{ 'Tasks' | t }}</div>
            <h2 class="page-title">
              {{ (my_all_switcher_value ? 'My' : 'All') | t }}
            </h2>
          </div>
        {% else %}
          <h2 class="page-title">
            {{ view.title }}
          </h2>
        {% if my_all_switcher_show %}<div class="page-pretitle">{{ (my_all_switcher_value ? 'My' : 'All') | t }}</div>{% endif %}
        {% endif %}
      </div>
      {% if view.id == 'zadachi_naznachennye_mne' %}
      <div class="col-auto ms-auto d-print-none">
        <select class="form-select" id="fast-switch-project">
          {% for tid, proekt in view.exposed_widgets.field_tz_proekt_target_id['#options'] %}
          <option value="{{ tid }}">{{ proekt }}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}
      {% if my_all_switcher_show %}
      <div class="col-auto ms-auto d-print-none">
        <label class="row">
          <span class="col">{% trans %}My {{ view.title }}{% endtrans %}</span>
          <span class="col-auto">
            <label class="form-check form-check-single form-switch ps-0">
              <input class="form-check-input my-all-switcher" data-list="{{ view.id }}" type="checkbox" {{ my_all_switcher_value ? 'checked' }}>
            </label>
          </span>
        </label>
      </div>
      {% endif %}
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          {% if view.id == 'crm_spisok_kompanii' %}
            <a href="/node/add/kompanii" class="btn btn-success p-2 add-doc-btn" title="{{ 'Add company' | t }}">
              {% include '@trinion_backend/svg/plus.svg' %}
            </a>
          {% elseif view.id == 'crm_spisok_kontakty' %}
            <a href="/node/add/contact" class="btn btn-success p-2 add-doc-btn" title="{{ 'Add contact' | t }}">
              {% include '@trinion_backend/svg/plus.svg' %}
            </a>
          {% elseif view.id == 'crm_spisok_tovary' %}
            <a href="/vibor-tipa-tovara" class="btn btn-success p-2 add-doc-btn" title="{{ 'Add item' | t }}">
              {% include '@trinion_backend/svg/plus.svg' %}
            </a>
          {% elseif view.id == 'trinion_terms' %}
            <a href="/admin/structure/taxonomy/manage/{{ view.args.0 }}/add?destination={{ getCurrentDestination() }}" class="btn btn-success p-2 add-doc-btn" title="{{ 'Add term' | t }}">
              {% include '@trinion_backend/svg/plus.svg' %}
            </a>
          {% elseif view.id == 'trinion_task_categories' %}
            <a href="/admin/structure/taxonomy/manage/kategoriya_zadachi/add?destination={{ getCurrentDestination() }}" class="btn btn-success p-2 add-doc-btn" title="{{ 'Add term' | t }}">
              {% include '@trinion_backend/svg/plus.svg' %}
            </a>
          {% elseif view.id == 'lidy' %}
            <a href="/node/add/lead" class="btn btn-success p-2 add-doc-btn" title="{{ 'Add lead' | t }}">
              {% include '@trinion_backend/svg/plus.svg' %}
            </a>
          {% elseif view.id == 'crm_spisok_kupony' %}
            <a href="/node/add/kupon" class="btn btn-success p-2 add-doc-btn" title="{{ 'Add coupon' | t }}">
              {% include '@trinion_backend/svg/plus.svg' %}
            </a>
          {% elseif view.id == 'crm_spisok_zvonki' %}
            <a href="/node/add/zvonok" class="btn btn-success p-2 add-doc-btn" title="{{ 'Add call' | t }}">
              {% include '@trinion_backend/svg/plus.svg' %}
            </a>
          {% elseif view.id == 'tp_sales_plans' %}
            <a href="/node/add/tp_sales_plan" class="btn btn-success p-2 add-doc-btn" title="{{ 'Add Sales plan' | t }}">
              {% include '@trinion_backend/svg/plus.svg' %}
            </a>
          {% elseif view.id == 'crm_list_of_worp_centers' %}
            <a href="/node/add/mrp_rabochiy_centr?destination=/mrp-work-centers" class="btn btn-success p-2 add-doc-btn" title="{{ 'Add Work center' | t }}">
              {% include '@trinion_backend/svg/plus.svg' %}
            </a>
          {% elseif view.id == 'crm_list_of_work_devisions' %}
            <a href="/node/add/mrp_rabochee_podrazdelenie?destination=/mrp-work-devisions" class="btn btn-success p-2 add-doc-btn" title="{{ 'Add Work devision' | t }}">
              {% include '@trinion_backend/svg/plus.svg' %}
            </a>
          {% elseif view.id == 'crm_list_of_mrp_specifikacii' %}
            <a href="/node/add/mrp_rabochee_podrazdelenie?destination=/specifikacii-tovarov" class="btn btn-success p-2 add-doc-btn" title="{{ 'Add Specification' | t }}">
              {% include '@trinion_backend/svg/plus.svg' %}
            </a>
          {% elseif view.id == 'crm_list_of_client_bank_payments' %}
            <a href="/client-bank-import-payments?destination=/client-bank-payments" class="btn btn-success p-2 add-doc-btn" title="{{ 'Bulk import Client-bank payments' | t }}">
              {% include '@trinion_backend/svg/book-upload.svg' %}
            </a>
          {% elseif view.id == 'zadachi_naznachennye_mne' %}
            {% if isModuleEnabled('trinion_change_log') %}
              <a href="/istoriya_izmeneniy/status"  class="bg-primary text-white avatar">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checklist" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8" /><path d="M14 19l2 2l4 -4" /><path d="M9 8h4" /><path d="M9 12h2" /></svg>
              </a>
            {% endif %}
          {% endif %}
          {% if exposed %}
          <a href="" class="bg-primary text-white avatar" id="show-filter" data-bs-toggle="modal" data-bs-target="#page-list-filter">
            {% include '@trinion_backend/svg/filter.svg' %}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-xl">
    <div class="card mb-3 d-none" id="filter-values">
      <div class="card-stamp">
        <div class="card-stamp-icon bg-yellow">
          {% include '@trinion_backend/svg/filter.svg' %}
        </div>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ 'Filter' | t }}</h3>
        <div class="msgs"></div>
      </div>
    </div>
    <div class="card">
      <div{{ attributes.addClass(classes) }}>
        {% if header %}
          <header>
            {{ header }}
          </header>
        {% endif %}

        <div class="modal modal-blur fade" id="page-list-filter" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{ 'Filter' | t }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {{ exposed }}
              </div>
            </div>
          </div>
        </div>
        {{ attachment_before }}
        {% if rows -%}
          {{ rows }}
        {% elseif empty -%}
          <div class="d-flex justify-content-center empty-list">
            <img src="/{{ directory }}/img/list-empty.png" alt="" width="100px" class="mb-3">
          </div>
        {% endif %}

        {{ attachment_after }}
        {{ more }}

        {% if footer %}
          <footer>
            {{ footer|without('result') }}
          </footer>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
