{% set status = row._entity.get('field_tl_status_sdelki').getString() %}
{% if status == getSetting('trinion_crm.settings', 'statusi_sdelki_zakrita_tid') %}<span class="badge bg-green text-green-fg">{{ output }}</span>
{% elseif status == getSetting('trinion_crm.settings', 'statusi_sdelki_v_rabote_tid') %}<span class="badge bg-yellow text-yellow-fg">{{ output }}</span>
{% elseif status == getSetting('trinion_crm.settings', 'statusi_sdelki_novaya_tid') %}<span class="badge bg-red text-red-fg">{{ output }}</span>
{% endif %}
