{% if output['#state_id'] == getSetting('trinion_tp.settings', 'schet_klienta_oplachen_tid') %}<span class="badge bg-green text-green-fg">{{ output['#markup'] | t }}</span>
{% elseif output['#state_id'] == getSetting('trinion_tp.settings', 'schet_klienta_chast_oplachen_tid') %}<span class="badge bg-yellow text-yellow-fg">{{ output['#markup'] | t }}</span>
{% elseif output['#state_id'] == getSetting('trinion_tp.settings', 'schet_klienta_nov_tid') %}<span class="badge bg-red text-red-fg">{{ output['#markup'] | t }}</span>
{% endif %}
