<div class="list-group list-group-flush overflow-auto">
  {% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
        'list-group-item',
        current_node.id() == row.content['#row']._entity.id() ? 'active'
      ]
    %}
    <div {{ row.attributes.addClass(row_classes).setAttribute('data-nid', row.content['#row']._entity.id()) }}>
      <div class="row">
        <div class="col">
          {{- row.content -}}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
