<div data-bs-toggle="tooltip" data-bs-placement="top" title="{{ row._entity.field_tz_status_zadachi.0.entity.label() }}">{{ row._entity.field_tz_status_zadachi.0.entity.field_tz_ikonka.getString() | raw }}</div>
