{%
  set classes = [
    'list-table',
    'mt-2',
  ]
%}
<div{% if dom_id %} class="js-view-dom-id-{{ dom_id }}"{% endif %}>
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-end">
      <div class="col">
        <h2 class="page-title">
          {{ view.title }}
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-xl">
    <div{{ attributes.addClass(classes) }}>
      {% if header %}
        <header>
          {{ header }}
        </header>
      {% endif %}

      <div class="modal modal-blur fade" id="page-list-filter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ 'Filter' | t }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{ exposed }}
            </div>
          </div>
        </div>
      </div>
      {{ attachment_before }}
      {% if rows -%}
        {{ rows }}
      {% elseif empty -%}
        <div class="d-flex justify-content-center empty-list">
          <img src="/{{ directory }}/img/list-empty.png" alt="" width="100px" class="mb-3">
        </div>
      {% endif %}

      {{ attachment_after }}
      {{ more }}

      {% if footer %}
        <footer>
          {{ footer|without('result') }}
        </footer>
      {% endif %}
    </div>
  </div>
</div>
</div>
