<div class="accordion" id="accordion">
  {% for title, content in data %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-{{ loop.index }}">
      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}" aria-expanded="false">
        {{ title }}
      </button>
    </h2>
    <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordion">
      <div class="accordion-body pt-0">
        {{ content }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
