<div class="nav-item dropdown d-none d-md-flex me-3">
  <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications" aria-expanded="false">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path><path d="M9 17v1a3 3 0 0 0 6 0v-1"></path></svg>
    <span class="badge bg-blue has-new-notice"{{ has_new == 0 ? ' style="display:none"' }}></span>
  </a>
  <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
    <div class="card">
      <div class="card-body">
        <label class="row">
          <span class="col">{{ 'Only unread notifications' | t }}</span>
          <span class="col-auto">
            <label class="form-check form-check-single form-switch">
              <input class="form-check-input new-notices-switcher" type="checkbox" {{ show_new ? 'checked' }}>
            </label>
          </span>
        </label>
      </div>
      <div class="list-group list-group-flush list-group-hoverable" id="notices-list-dropdown">
        {{ data }}
      </div>
    </div>
  </div>
</div>
