{% if data %}
{% for notice in data %}
  {% set is_new = notice.get('field_tb_new_notice').getString() %}
  <div class="list-group-item" id="notice-{{ notice.id() }}">
    <div class="row align-items-center">
      <div class="col-auto"><span class="status-dot {{ is_new == 1 ? 'status-dot-animated bg-blue' }} d-block"></span></div>
      <div class="col" style="width: 500px;">
        {{ notice.get('field_tb_notice_text').getValue().0.value | raw }}
      </div>
      <div class="col-auto">
        <a href="/toggle-notice/{{ notice.id() }}" class="list-group-item-actions use-ajax">
          <svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-check" {{ is_new == 0 ? 'style="display: none"' }}><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>

          <svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-capsule" {{ is_new == 1 ? 'style="display: none"' }}><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 15a6 6 0 1 1 -12 0v-6a6 6 0 1 1 12 0v2" /><path d="M15 8l3 3l3 -3" /></svg>
        </a>
      </div>
    </div>
  </div>
{% endfor %}
{% else %}
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col" style="width: 500px;">
      {{ 'List is empty' | t }}
    </div>
  </div>
</div>
{% endif %}
