{{ title_prefix }}
<h3{{ title_attributes }}>{{ 'History' | t }}</h3>
{{ title_suffix }}

<div class="chat">
  <div class="chat-bubbles">
    {% for key, line in lines %}
      {% set num = key + 1 %}
      {% set account =  line.get('uid').entity %}
      {% set nickname = account.get('field_tb_nick_name').getString() %}
      {% set user_name = nickname ? nickname : account.label() %}
      {% set avatar = account.get('user_picture').0.entity.uri.value %}
      <div class="chat-item">
        <div class="row align-items-start justify-content-start">

          <div class="col-lg-12 d-flex">
            <a id="{{ line.getEntityTypeId() }}-{{ line.id() }}"></a>
            <div>
            {% if avatar %}
              <span class="avatar" style="background-image: url({{ file_url(avatar) }})"></span>
            {% else %}
              <span class="avatar">{{ user_name | slice(0, 2) }}</span>
            {% endif %}
            {% if line.getEntityTypeId() == 'comment' %}
              <div class="mt-2 text-align-center">
              {% set created_from = line.get('field_tz_sozdan_cherez').getString() %}
              {% if created_from == 'web' %}
              {% else %}
                {% include '@trinion_backend/svg/mail.svg' %}
              {% endif %}
              </div>
            {% endif %}
            </div>
            <div class="chat-bubble chat-bubble-me w-100 ms-2">
              <div class="chat-bubble-title">
                <div class="row">
                  <div class="col chat-bubble-author">{{ user_name }}
                    {% if line.getEntityTypeId() == 'comment' %}
                      {% if line.reply_to %}
                        <span>{{ 'reply' | t }}</span>
                      {% else %}
                        <span>{{ 'comment' | t }}</span>
                        {% if line.get('field_tz_private').getString() %}
                          <span class="badge bg-indigo text-indigo-fg ms-2">{{ 'Private' | t }}</span>
                        {% endif %}
                      {% endif %}
                    {% else %}
                      <span>{{ 'change' | t }}</span>
                    {% endif %}
                  </div>
                  <div class="col-auto chat-bubble-date">
                    {{ '@date in @time' | t({'@date': line.date, '@time': line.time}) }}
                    <a href="#{{ line.getEntityTypeId() }}-{{ line.id() }}">#{{ loop.index }}</a>
                  </div>
                </div>
              </div>
              <div class="chat-bubble-body">
        {% if line.getEntityTypeId() == 'comment' %}
          {% if line.reply_to %}
            {% set quote %}
                <div>{{ line.reply_to.text | nl2br }}</div>
            {% endset %}
            {{ line.get('field_tz_kommentariy').0.value | nl2br | replace({(line.reply_to.tag) : quote}) | raw }}
            {{ drupal_field('field_tz_files', 'comment', line.id()) }}
          {% else %}
            {{ line.get('field_tz_kommentariy').0.value | raw | nl2br }}
            {{ drupal_field('field_tz_files', 'comment', line.id()) }}
          {% endif %}
{#                <span class="replay-comment" data-cid="{{ num }}[{{ line.id() }}]">Ответить</span>#}
        {% else %}
            <table class="table table-vcenter card-table border">
              <thead>
                <tr>
                  <th class="bg-transparent">Поле</th>
                  <th class="bg-transparent">Было</th>
                  <th class="bg-transparent">Стало</th>
                </tr>
              </thead>
              <tbody>
            {% for change in line.get('field_tcl_izmeneniya') %}
            {% set old_value = change.entity.get('field_tcl_staroe_znachenie').getString() | raw %}
            {% set new_value = change.entity.get('field_tcl_novoe_znachenie').getString() | raw %}
            {% if change.entity.get('field_tcl_pole').getString() ends with '_utverzhdeno' %}
              {% set old_value = (old_value == 0 ? 'Not approved' : old_value == 1 ? 'Reserved' : 'Approved') | t %}
              {% set new_value = (new_value == 0 ? 'Not approved' : new_value == 1 ? 'Reserved' : 'Approved') | t %}
            {% endif %}
                <tr>
                  <td>{{ change.entity.get('field_tcl_pole').0.entity.label() }}</td>
                  <td>{{ old_value }}</div>
                  <td>{{ new_value }}</div>
                </tr>
            {% endfor %}
              </tbody>
            </table>
            {% if line.change_comment %}
              <div class="mt-3">
                {{ 'Comment:' | t }} {{ line.change_comment }}
              </div>
            {% endif %}
        {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



  {% if comment_form %}
    {{ comment_form }}
  {% endif %}

