{%
  set classes = [
    has_parent ? 'js-form-wrapper',
    has_parent ? 'form-wrapper',
    'row',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="col-md-5">
    {{ element.field_tp_sklad.widget }}
  </div>
  <div class="col-md-2 text-align-center align-content-center">
    {% include '@trinion_backend/svg/arrow-narrow-right.svg' %}
  </div>
  <div class="col-md-5">
    {{ element.field_tp_podrazdelenie.widget }}
  </div>
</div>
