{%
  set classes = [
    has_parent ? 'js-form-wrapper',
    has_parent ? 'form-wrapper',
    'row',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="col-md-5">
    {{ element.field_tp_otvetstvennyy.widget }}
  </div>
  <div class="col-md-5">
    {{ element.field_tb_shablon_pechatnoy_formi.widget }}
  </div>
  <div class="col-md-2">
    {{ element.actions }}
  </div>
</div>
