<div{{ attributes.addClass(classes) }}>
  <table class="stroki-table table">
    <thead>
    <tr>
      <th>№</th>
      <th>Item</th>
      {% for key, period in element.periods.0 %}
        {% if key|first != '#' %}
          <th>{{ period['#caption'] }}</th>
        {% endif %}
      {% endfor %}
      {% if table['#rows'].0.data.1.data.harakteristika %}<th>{{ table['#rows'].0.data.1.data.harakteristika['#title'] }}</th>{% endif %}
    </tr>
    </thead>
    <tbody>
    {% for key, period in element.periods %}
      {% if key|first != '#' %}
        <tr class="repeater-wrapper">
          <td>{{ loop.index }}</td>
          <td title="{{ period['#product_data'].tovar.label() }}">{{ period['#product_data'].product_name }}</td>
        {% for num, cell in period %}
          {% if num|first != '#' %}
        <td>{{ cell|without('#title') }}</td>
        {% endif %}
      {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  {% if button %}
    <div class="row">
      <div class="col-12">{{ button }}</div>
    </div>
  {% endif %}
</div>
