{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }}>
      {% for item in items %}
        <div{{ item.attributes }}>{{ item.content['#entity'].get('field_tb_nick_name').getString() }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes }}>{{ item.content['#entity'].get('field_tb_nick_name').getString() }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass('d-flex field-wrapper') }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}:</div>
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes }}>{{ item.content['#entity'].get('field_tb_nick_name').getString() }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
