<table class="stroki-table table">
  <thead>
  <tr>
    <th>Дата</th>
    <th>Номер счета</th>
    <th>Сумма счета</th>
    <th>Не оплаченно</th>
    <th>Оплатить</th>
  </tr>
  </thead>
  <tbody class="table-border-bottom-0">
  {% for key, item in table['#rows'].0.data.1.data %}
    {% if key|first != '#' %}
      <tr>
        <td>{{ item.data }}</td>
        <td>{{ item.nomer }}</td>
        <td>{{ item.summa }}</td>
        <td>{{ item.ne_oplacheno }}</td>
        <td>
          {{ item.nid }}
          {{ item.stroka_id }}
          {{ item.oplacheno }}
        </td>
      </tr>
    {% endif %}
  {%  endfor %}
  </tbody>
</table>
