<div class="table-responsive">
  <table class="stroki-table table mps-input-table">
    <thead>
    <tr>
      <th>{{ table['#rows'].0.data.1.data.uit['#title'] }}</th>
      {% if table['#rows'].0.data.1.data.harakteristika %}<th>{{ table['#rows'].0.data.1.data.harakteristika['#title'] }}</th>{% endif %}
      {% for key, period in table['#rows'].0.data.1.data.periods %}
        {% if key | first != '#' %}
        <th>{{ period['#title'] }}</th>
        {% endif %}
      {% endfor %}
      <th>{{ table['#rows'].0.data.1.data.edinica_izmereniya['#title'] }} <i class="fa-solid fa-circle-question" title="Единица измерения прослеживания"></i></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for num, item in table['#rows'] %}
      <tr class="repeater-wrapper">
        <td>{{ item.data.1.data.uit|without('#title') }}{{ item.data.1.data.id }}{{ item.data.1.data.itogo }}</td>
        {% if table['#rows'].0.data.1.data.harakteristika %}<td>{{ item.data.1.data.harakteristika|without('#title') }}</td>{% endif %}
        {% for key, period in item.data.1.data.periods %}
          {% if key | first != '#' %}
          <td>{{ period|without('#title') }}</td>
          {% endif %}
        {% endfor %}
        <td>{{ item.data.1.data.edinica_izmereniya|without('#title') }}</td>
        <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash delete-row" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% if button %}
<div class="row">
  <div class="col-12">{{ button }}</div>
</div>
{% endif %}
