  <table id="datatable-1" class="stroki-table table">
  <thead>
  <tr>
    <th>№</th>
    <th>{{ table['#rows'].0.data.1.data.uit['#title'] }}</th>
    {% if table['#rows'].0.data.1.data.harakteristika %}<th>{{ table['#rows'].0.data.1.data.harakteristika['#title'] }}</th>{% endif %}
    <th>{{ table['#rows'].0.data.1.data.cena['#title'] }}</th>
    <th>Скидка %</th>
    <th>Скидка сумма</th>
{#    <th>Наценка %</th>#}
{#    <th>Наценка сумма</th>#}
    <th>{{ table['#rows'].0.data.1.data.kolichestvo['#title'] }}</th>
    <th>{{ table['#rows'].0.data.1.data.edinica_izmereniya['#title'] }}</th>
    <th>{{ table['#rows'].0.data.1.data.nds['#title'] }}</th>
    <th>{{ 'Amount' | t }}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for num, item in table['#rows'] %}
    <tr class="repeater-wrapper">
      <td>{{ num + 1 }}</td>
      <td>{{ item.data.1.data.uit|without('#title') }}{{ item.data.1.data.id }}{{ item.data.1.data.itogo }}</td>
      {% if table['#rows'].0.data.1.data.harakteristika %}<td>{{ item.data.1.data.harakteristika|without('#title') }}</td>{% endif %}
      <td>{{ item.data.1.data.cena|without('#title') }}</td>
      <td>{{ item.data.1.data.skidka_procent|without('#title') }}</td>
      <td>{{ item.data.1.data.skidka_summa|without('#title') }}</td>
{#      <td>{{ item.data.1.data.nacenka_procent|without('#title') }}</td>#}
{#      <td>{{ item.data.1.data.nacenka_summa|without('#title') }}</td>#}
      <td>{{ item.data.1.data.kolichestvo|without('#title') }}</td>
      <td>{{ item.data.1.data.edinica_izmereniya|without('#title') }}</td>
      <td>{{ item.data.1.data.nds|without('#title') }}</td>
      <td class="amount"></td>
      <td><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash delete-row" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% if button %}
<div class="row">
  <div class="col-12">{{ button }}</div>
</div>
{% endif %}
