<div class="page">
  {% if page.sidebar_first %}
    {{ page.sidebar_first }}
  {% endif %}
  <header class="navbar navbar-expand-md d-none d-lg-flex d-print-none">
    {{ drupal_menu('tb-dopolnitelno', expand=true) }}
  </header>

  {% if page.header %}
    {{ page.header }}
  {% endif %}
  <div class="page-wrapper">
    <div class="page-body layout-fluid">
      <div class="container-xl float-start">
        <div class="row card-row">
          <div class="col-3">
            <div class="card">
              {% if node.bundle == 'kommercheskoe_predlozhenie' %}
                {{ drupal_view('crm_spisok_kommercheskikh_predlozheniy', 'document_list') }}
              {% elseif node.bundle == 'zakaz_klienta' %}
                {{ drupal_view('crm_spisok_zakazy_klienta', 'document_list') }}
              {% elseif node.bundle == 'otgruzka' %}
                {{ drupal_view('crm_spisok_otgruzki', 'document_list') }}
              {% elseif node.bundle == 'otpravlennyy_platezh' %}
                {{ drupal_view('crm_spisok_otpravlennykh_platezhey', 'document_list') }}
              {% elseif node.bundle == 'poluchennyy_platezh' %}
                {{ drupal_view('crm_spisok_poluchennye', 'document_list') }}
              {% elseif node.bundle == 'postuplenie_tovarov' %}
                {{ drupal_view('crm_spisok_postupleniya_tovarov', 'document_list') }}
              {% elseif node.bundle == 'schet' %}
                {{ drupal_view('crm_spisok_scheta_klienta', 'document_list') }}
              {% elseif node.bundle == 'zakaz_postavschiku' %}
                {{ drupal_view('crm_spisok_zakazy_postavschiku', 'document_list') }}
              {% elseif node.bundle == 'schet_postavschika' %}
                {{ drupal_view('crm_spisok_schetov_postavschika', 'document_list') }}
              {% elseif node.bundle == 'sdelki' %}
                {{ drupal_view('crm_spisok_sdelki', 'document_list') }}
              {% elseif node.bundle == 'kompanii' %}
                {{ drupal_view('crm_spisok_kompanii', 'document_list') }}
              {% elseif node.bundle == 'contact' %}
                {{ drupal_view('crm_spisok_kontakty', 'document_list') }}
              {% elseif node.bundle == 'lead' %}
                {{ drupal_view('lidy', 'document_list') }}
              {% elseif node.bundle == 'mail' %}
                {{ drupal_view('crm_spisok_pochta', 'document_list') }}
              {% elseif node.bundle == 'zadacha' %}
                {{ drupal_view('zadachi_naznachennye_mne', 'document_list') }}
              {% elseif node.bundle == 'peremeshchenie_tovarov' %}
                {{ drupal_view('crm_list_of_movement_goods', 'document_list') }}
              {% elseif node.bundle == 'trebovanie_nakladnaya' %}
                {{ drupal_view('crm_list_of_trebovanie_nakladnaya', 'document_list') }}
              {% elseif node.bundle == 'vypusk_produkcii' %}
                {{ drupal_view('crm_list_of_vipusk_produkcii', 'document_list') }}
              {% elseif node.bundle == 'mps' %}
                {{ drupal_view('crm_list_of_mps', 'document_list') }}
              {% elseif node.bundle == 'zapis_mrp' %}
                {{ drupal_view('crm_list_of_mrp_reports', 'document_list') }}
              {% elseif node.bundle == 'mrp_zakaz_na_proizvodstvo' %}
                {{ drupal_view('crm_list_of_production_orders', 'document_list') }}
              {% endif %}
            </div>
          </div>
          <div class="col-9">
            <div id="document-content" class="card">
              {{ page.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
