<div class="page">
  {% if page.sidebar_first %}
    {{ page.sidebar_first }}
  {% endif %}
  <header class="navbar navbar-expand-md d-none d-lg-flex d-print-none">
    {{ drupal_menu('tb-dopolnitelno', expand=true) }}
  </header>

  {% if page.header %}
    {{ page.header }}
  {% endif %}
  <div class="page-wrapper">
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
            </h2><h2 class="page-title">
              Account Settings
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="container-xl">
        <div class="card">
          <div class="row g-0">
            <div class="col-12 col-md-3 border-end">
              <div class="card-body">
                {{ drupal_menu('tb-account', expand=true) }}
              </div>
            </div>
            <div class="col-12 col-md-9 d-flex flex-column">
              <div class="card-body">
                {{ page.content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
