<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a href="." class="navbar-brand navbar-brand-autodark">
        {{ title_login_and_password_page }}
      </a>
    </div>
    <div class="card card-md">
      <div class="card-body">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
