<div class="page">
  {% if page.sidebar_first %}
    {{ page.sidebar_first }}
  {% endif %}
  <header class="navbar navbar-expand-md d-none d-lg-flex d-print-none">
    {{ drupal_menu('tb-dopolnitelno', expand=true) }}
  </header>

  {% if page.header %}
    {{ page.header }}
  {% endif %}
  <div class="page-wrapper">
    <div class="page-header d-print-none layout-fluid">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              {{ page['#title'] }}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="container-xl">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
