<div class="page">
  {% if page.sidebar_first %}
    {{ page.sidebar_first }}
  {% endif %}
  <header class="navbar navbar-expand-md d-none d-lg-flex d-print-none">
    {{ drupal_menu('tb-dopolnitelno', expand=true) }}
  </header>

  {% if page.header %}
    {{ page.header }}
  {% endif %}
  <div class="page-wrapper">
    {{ page.content }}
  </div>
</div>
