{% if content %}
  <aside class="navbar navbar-vertical navbar-expand-lg course-plan" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {{ content }}
    </div>
  </aside>
{% endif %}
