{% if show_border %}
<div class="card">
{% endif %}
  <div class="table-responsive">
    <table{{ attributes }}>
      {% if caption %}
        <caption>{{ caption }}</caption>
      {% endif %}

      {% for colgroup in colgroups %}
        {% if colgroup.cols %}
          <colgroup{{ colgroup.attributes }}>
            {% for col in colgroup.cols %}
              <col{{ col.attributes }} />
            {% endfor %}
          </colgroup>
        {% else %}
          <colgroup{{ colgroup.attributes }} />
        {% endif %}
      {% endfor %}

      {% if header %}
        <thead>
          <tr>
            {% for cell in header %}
              <{{ cell.tag }}{{ cell.attributes }}>

                {% if cell.content == 'svg_clock' %}
                  {% include '@trinion_backend/svg/clock-hour-1.svg' %}
                {% else %}
                  {{- cell.content -}}
                {% endif %}
              </{{ cell.tag }}>
            {% endfor %}
          </tr>
        </thead>
      {% endif %}

      {% if rows %}
        <tbody>
          {% for row in rows %}
            <tr{{ row.attributes }}>
              {% for cell in row.cells %}
                <{{ cell.tag }}{{ cell.attributes }}>
                  {% if cell.content == 'video' %}
                    {% include '@trinion_backend/svg/video.svg' %}
                  {% elseif cell.content == 'praktika' %}
                    {% include '@trinion_backend/svg/flask.svg' %}
                  {% elseif cell.content == 'text' %}
                    {% include '@trinion_backend/svg/file-description.svg' %}
                  {% elseif cell.content == 'test' %}
                    {% include '@trinion_backend/svg/user-question.svg' %}
                  {% else %}
                    {{- cell.content -}}
                  {% endif %}
                </{{ cell.tag }}>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      {% elseif empty %}
        <tbody>
          <tr>
            <td colspan="{{ header_columns }}">
              <div class="d-flex justify-content-center empty-list">
                <img src="/{{ directory }}/img/list-empty.png" alt="" width="100px" class="mb-3">
              </div>
            </td>
          </tr>
        </tbody>
      {% endif %}
      {% if footer %}
        <tfoot>
          {% for row in footer %}
            <tr{{ row.attributes }}>
              {% for cell in row.cells %}
                <{{ cell.tag }}{{ cell.attributes }}>
                  {{- cell.content -}}
                </{{ cell.tag }}>
              {% endfor %}
            </tr>
          {% endfor %}
        </tfoot>
      {% endif %}
    </table>
  </div>
{% if show_border %}
</div>
{% endif %}
