{%
  set classes = [
    'js-form-managed-file',
    'form-managed-file',
    'mt-5',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if show_label %}
  <label for="edit-title-0-value" class="form-label js-form-required form-required">{{ element['#title'] }}</label>
  {% endif %}
  {{ element|without('upload_button') }}
  {{ element.upload_button }}
</div>
