<div class="col-md-6 col-lg-6 col-xl-3 widget-wrapper" id="widget-{{ id }}" data-widget-id="{{ id }}">
  <div class="card">
    <div class="card-body">
      <div class="container-xl">
        <div class="row">
          <h3 class="card-title col">{{ title }}</h3>
          <label class="dropdown-item form-switch mb-3 col justify-content-end"><input class="form-check-input m-0 me-2 my-all-toggler" type="checkbox" {{ my == 'true' ? 'checked="checked"' }}> {{ 'My Tasks' | t }}</label>
        </div>
      </div>
      <div id="{{ id }}"></div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (window.ApexCharts) {
      build();
    }
  });
  if (document.readyState == "complete")
    build();
  function build() {
    (new ApexCharts(document.getElementById('{{ id }}'), {
      chart: {
        type: "donut",
        fontFamily: 'inherit',
        height: 240,
        sparkline: {
          enabled: true
        },
        animations: {
          enabled: false
        },
      },
      fill: {
        opacity: 1,
      },
      series: [{% for val in data %}{{ val.cnt }}{{ not loop.last ? ',' }}{% endfor %}],
      labels: [{% for label,val in data %}"{{ label }}"{{ not loop.last ? ',' }}{% endfor %}],
      tooltip: {
        theme: 'dark'
      },
      grid: {
        strokeDashArray: 4,
      },
      colors: [{% for val in data %}"{{ val.color }}"{{ not loop.last ? ',' }}{% endfor %}],
      legend: {
        show: true,
        position: 'bottom',
        offsetY: 12,
        markers: {
          width: 10,
          height: 10,
          radius: 100,
        },
        itemMargin: {
          horizontal: 8,
          vertical: 8
        },
      },
      tooltip: {
        fillSeriesColor: false
      },
    })).render();
  }
</script>
