<div class="col-lg-6 col-xl-3">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{ title }}</h3>
      <div id="{{ id }}"></div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.ApexCharts && (new ApexCharts(document.getElementById('{{ id }}'), {
      chart: {
        type: "donut",
        fontFamily: 'inherit',
        height: 240,
        sparkline: {
          enabled: true
        },
        animations: {
          enabled: false
        },
      },
      fill: {
        opacity: 1,
      },
      series: [{% for val in data %}{{ val.cnt }}{{ not loop.last ? ',' }}{% endfor %}],
      labels: [{% for label,val in data %}"{{ label }}"{{ not loop.last ? ',' }}{% endfor %}],
      tooltip: {
        theme: 'dark'
      },
      grid: {
        strokeDashArray: 4,
      },
      colors: [{% for val in data %}"{{ val.color }}"{{ not loop.last ? ',' }}{% endfor %}],
      legend: {
        show: true,
        position: 'bottom',
        offsetY: 12,
        markers: {
          width: 10,
          height: 10,
          radius: 100,
        },
        itemMargin: {
          horizontal: 8,
          vertical: 8
        },
      },
      tooltip: {
        fillSeriesColor: false
      },
    })).render();
  });
</script>
