{% set trash %}
  {% include '@trinion_backend/svg/remove.svg' %}
{% endset %}
{% set pdf %}
  {% include '@trinion_backend/svg/pdf.svg' %}
{% endset %}
{% set dropdown %}
  {% include '@trinion_backend/svg/dropdown.svg' %}
{% endset %}
{% set stampoff %}
  {% include '@trinion_backend/svg/stampoff.svg' %}
{% endset %}
{% set stamp %}
  {% include '@trinion_backend/svg/stamp.svg' %}
{% endset %}

<div class="row align-items-center">
  <!-- Page title actions -->
  <div class="col-auto ms-auto d-print-none">
    <div class="btn-list">

        {% if node.bundle() == 'zakaz_klienta' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/zakaz-klienta/{{ node.id() }}">{{ pdf }}</a>
        {% elseif node.bundle() == 'kommercheskoe_predlozhenie' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/kommercheskoe-predlogenie/{{ node.id() }}">{{ pdf }}</a>
        {% elseif node.bundle() == 'schet' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/schet/{{ node.id() }}">{{ pdf }}</a>
        {% elseif node.bundle() == 'zakaz_postavschiku' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/zakaz-postavshiku/{{ node.id() }}">{{ pdf }}</a>
        {% elseif node.bundle() == 'schet_postavschika' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/schet-postavshika/{{ node.id() }}">{{ pdf }}</a>
        {% elseif node.bundle() == 'otgruzka' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/upd/{{ node.id() }}">{{ pdf }}</a>
        {% elseif node.bundle() == 'postuplenie_tovarov' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/postuplenie-tovarov/{{ node.id() }}">{{ pdf }}</a>
        {% elseif node.bundle() == 'poluchennyy_platezh' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/poluchennyy-platezh/{{ node.id() }}">{{ pdf }}</a>
        {% elseif node.bundle() == 'otpravlennyy_platezh' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/otpravlenniy-platezh/{{ node.id() }}">{{ pdf }}</a>
        {% elseif node.bundle() == 'lead' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/lead/{{ node.id() }}">{{ pdf }}</a>
        {% elseif node.bundle() == 'contact' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/kontakt/{{ node.id() }}">{{ pdf }}</a>
        {% elseif node.bundle() == 'kompanii' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/kompaniya/{{ node.id() }}">{{ pdf }}</a>
        {% elseif node.bundle() == 'sdelki' %}
        <a class="btn btn-icon" data-tooltip="PDF форма" data-position="bottom center" href="/pdf/sdelka/{{ node.id() }}">{{ pdf }}</a>
        {% endif %}

        {% if node.bundle() not in ['mail', 'kompanii', 'contact', 'lead', 'zvonok'] %}
          <a href="/node/add/zadacha?base-document={{ node.id() }}" class="btn btn-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'Create a task based on this document' | t }}" target="_blank">{% include '@trinion_backend/svg/checklist.svg' %}</a>
        {% endif %}

        {% if node.bundle() != 'mail' %}
          <a class="btn btn-icon" data-tooltip="Редактировать" data-position="bottom center" href="/node/{{ node.id() }}/edit"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg></a>
        {% endif %}


        {% if node.bundle() != 'mail' and node.bundle() != 'zvonok' %}
        <a class="btn btn-icon node-attache-file" data-tooltip="Приложить скан документа" data-position="bottom center" href=""><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" /></svg></a>
        {% endif %}
{#        <a class="btn btn-icon" data-tooltip="Отправить в письме" data-position="bottom center" href="#"><i class="envelope outline icon"></i></a>#}

        {% if node.bundle() == 'mail' %}
          {% if node.get('field_tm_mail_from').getString() == '' %}
            <a class="btn btn-icon" data-tooltip="Создать лид" data-position="bottom center" href="/node/add/lead/?mail={{ node.id() }}"><i class="tag icon"></i></a>
          {% endif %}
        {% elseif node.bundle() == 'sdelki' %}
          {% if (node.get('field_tl_utverzhdeno').getString()) %}
            <a href="/utverdit_crm/{{ node.id() }}/0" class="btn btn-icon use-ajax" title="Аннулировать">{% include '@trinion_backend/svg/stampoff.svg' %}</a>
          {% else %}
            <a href="/utverdit_crm/{{ node.id() }}/1" class="btn btn-icon use-ajax" title="Утвердить">{% include '@trinion_backend/svg/stamp.svg' %}</a>
          {% endif %}
          <span class="dropdown">
            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">
              {% include '@trinion_backend/svg/dropdown.svg' %}
            </button>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="/sozdaniye-kp/{{ node.id() }}" class="dropdown-item use-ajax">{{ 'Estimate' | t }}</a>
            </div>
          </span>
        {% elseif node.bundle() == 'peremeshchenie_tovarov' %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
            <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Аннулировать утверждение" target="_blank">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/1" class="btn btn-icon use-ajax" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Утвердить" target="_blank">{{ stamp }}</a>
          {% endif %}
        {% elseif node.bundle() == 'mrp_zakaz_na_proizvodstvo' %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
            <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Аннулировать утверждение" target="_blank">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/1" class="btn btn-icon use-ajax" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Утвердить" target="_blank">{{ stamp }}</a>
          {% endif %}
        {% elseif node.bundle() == 'trebovanie_nakladnaya' %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
            <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Аннулировать утверждение" target="_blank">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/1" class="btn btn-icon use-ajax" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Утвердить" target="_blank">{{ stamp }}</a>
          {% endif %}
        {% elseif node.bundle() == 'vypusk_produkcii' %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
            <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Аннулировать утверждение" target="_blank">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/1" class="btn btn-icon use-ajax" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Утвердить" target="_blank">{{ stamp }}</a>
          {% endif %}
        {% elseif node.bundle() == 'zakaz_klienta' %}
          {% if (node.get('field_tp_zarezervirovan').getString()) %}
            <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Аннулировать резерв" target="_blank">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/1" class="btn btn-icon use-ajax" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Зарезервировать" target="_blank">{{ stamp }}</a>
          {% endif %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
            <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Аннулировать утверждение" target="_blank">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/2" class="btn btn-icon use-ajax" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Утвердить" target="_blank">{{ stamp }}</a>
          {% endif %}
        {% elseif node.bundle() == 'postuplenie_tovarov' %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
          <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" title="Аннулировать">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/1" class="btn btn-icon use-ajax" title="Утвердить">{{ stamp }}</a>
          {% endif %}
        {% elseif node.bundle() == 'schet' %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
          <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" title="Аннулировать">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/1" class="btn btn-icon use-ajax" title="Утвердить">{{ stamp }}</a>
          {% endif %}
        {% elseif node.bundle() == 'schet_postavschika' %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
          <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" title="Аннулировать">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/1" class="btn btn-icon use-ajax" title="Утвердить">{{ stamp }}</a>
          {% endif %}
        {% elseif node.bundle() == 'poluchennyy_platezh' %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
          <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" title="Аннулировать">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/1" class="btn btn-icon use-ajax" title="Утвердить">{{ stamp }}</a>
          {% endif %}
        {% elseif node.bundle() == 'otpravlennyy_platezh' %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
          <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" title="Аннулировать">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/1" class="btn btn-icon use-ajax" title="Утвердить">{{ stamp }}</a>
          {% endif %}
        {% elseif node.bundle() == 'otgruzka' %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
            <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" title="Аннулировать">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/1" class="btn btn-icon use-ajax" title="Утвердить">{{ stamp }}</a>
          {% endif %}
        {% elseif node.bundle() == 'kommercheskoe_predlozhenie' %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
          <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" title="Аннулировать">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/2" class="btn btn-icon use-ajax" title="Утвердить">{{ stamp }}</a>
          {% endif %}
        {% elseif node.bundle() == 'zakaz_postavschiku' %}
          {% if (node.get('field_tp_utverzhdeno').getString()) %}
          <a href="/utverdit/{{ node.id() }}/0" class="btn btn-icon use-ajax" title="Аннулировать">{{ stampoff }}</a>
          {% else %}
            <a href="/utverdit/{{ node.id() }}/2" class="btn btn-icon use-ajax" title="Утвердить">{{ stamp }}</a>
          {% endif %}
        {% endif %}


        {% if node.bundle() == 'zakaz_klienta' %}
          <span class="dropdown">
            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">
              {{ dropdown }}
            </button>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="/sozdaniye-scheta-klienta/{{ node.id() }}" class="dropdown-item use-ajax">Счет покупателя</a>
              <a href="/sozdaniye-zakaza-postavschiku/{{ node.id() }}" class="dropdown-item use-ajax">Заказ поставщику</a>
              {{ drupal_link('Отгрузку', '/sozdaniye-otgruzki/' ~ node.id(), {'attributes':{'class':'dropdown-item use-ajax'}}, check_access=true) }}
            </div>
         </span>
        {% elseif node.bundle() == 'lead' %}
        <span class="dropdown">
          <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">
            {{ dropdown }}
          </button>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="/lead-convert?lead_id={{ node.id() }}" class="dropdown-item">{{ 'Lead convert' | t }}</a>
          </div>
        </span>
        {% elseif node.bundle() == 'kommercheskoe_predlozhenie' %}
        <span class="dropdown">
          <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">
            {{ dropdown }}
          </button>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="/sozdaniye-zakaza-klienta/{{ node.id() }}" class="dropdown-item use-ajax">Заказ покупателя</a>
          </div>
        </span>
        {% elseif node.bundle() == 'zakaz_postavschiku' %}
        <span class="dropdown">
          <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">
            {{ dropdown }}
          </button>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="/sozdaniye-scheta-postavshika/{{ node.id() }}" class="dropdown-item use-ajax">Создать счет постащика</a>
            <a href="/sozdaniye-postupleniya-tovarov/{{ node.id() }}" class="dropdown-item use-ajax">Создать поступление товаров</a>
          </div>
        </span>
        {% elseif node.bundle() == 'tovar' %}
        <a class="btn btn-icon" data-tooltip="Добавть цену" data-position="bottom center" href="/node/add/cena/?tovar={{ node.id() }}&destination=node/{{ node.id() }}"><i class="tag icon"></i></a>
        {% endif %}


        {% if node.bundle() == 'zakaz_klienta' %}
        <a href="/node/{{ node.id() }}/delete?destination=/zakazi-klientov"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% elseif node.bundle() == 'kommercheskoe_predlozhenie' %}
        <a href="/node/{{ node.id() }}/delete?destination=/kommercheskoe-predlogenie"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% elseif node.bundle() == 'zadacha' %}
        <a href="/node/{{ node.id() }}/delete?destination=/tasks-to-me"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% elseif node.bundle() == 'schet' %}
        <a href="/node/{{ node.id() }}/delete?destination=/scheta-klientov"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% elseif node.bundle() == 'zakaz_postavschiku' %}
        <a href="/node/{{ node.id() }}/delete?destination=/zakaz-postavshiku"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% elseif node.bundle() == 'schet_postavschika' %}
        <a href="/node/{{ node.id() }}/delete?destination=/scheta-postavshika"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% elseif node.bundle() == 'postuplenie_tovarov' %}
        <a href="/node/{{ node.id() }}/delete?destination=/postupleniya_tovarov"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% elseif node.bundle() == 'otgruzka' %}
        <a href="/node/{{ node.id() }}/delete?destination=/otgruzki"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% elseif node.bundle() == 'poluchennyy_platezh' %}
        <a href="/node/{{ node.id() }}/delete?destination=/poluchennie-platezhi"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% elseif node.bundle() == 'otpravlennyy_platezh' %}
        <a href="/node/{{ node.id() }}/delete?destination=/otpravlennie-platezhi"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% elseif node.bundle() == 'tovar' %}
        <a href="/node/{{ node.id() }}/delete?destination=/tovari"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% elseif node.bundle() == 'mrp_zakaz_na_proizvodstvo' %}
        <a href="/node/{{ node.id() }}/delete?destination=/production-orders"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% elseif node.bundle() == 'sdelki' %}
        <a href="/node/{{ node.id() }}/delete?destination=/sdelki"  class="btn btn-icon" data-tooltip="Удалить" data-position="bottom center">{{ trash }}</a>
        {% endif %}


    </div>
  </div>
</div>
