<div class="view-document">
  <div class="card-body">
    <article{{ attributes }}>
      {% set is_page = 1 %}
      {% include '@trinion_backend/zadacha.html.twig' %}
      {{ content.field_tl_file }}
    </article>
  </div>
  <div class="card-body">
    <div class="view-document-additional mt-3">
      {{ content | without('field_tz_tema', 'field_tz_prioritet', 'field_tz_deyatelnost', 'field_tz_status_zadachi', 'field_tz_opisanie', 'field_tz_kategoriya_zadachi', 'field_tz_vremya_nachala_zadachi', 'field_tz_vrem_vypoleniya_zadachi', 'field_tz_otvetstvennyy', 'field_tz_related_tasks', 'field_tz_ssylka_na_obekt', 'field_tz_sozdan_cherez', 'field_tz_comments', 'field_tz_file', 'links') }}
      {{ content.field_tz_file }}
      {{ content.field_tz_comments }}
    </div>
  </div>
</div>

{{ drupal_form('Drupal\\trinion_zadachnik\\Form\\FileUploadForm') }}
