<article{{ attributes.addClass('row invoice-preview') }}>
  <div class="col-xl-12 col-md-12 col-12 mb-md-0 mb-4">
    <div class="card">
      <div class="card-body">
        <div{{ content_attributes }}>
          {% if label %}<div class="h4 mb-4">{{ label }}</div>{% endif %}
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>
