<div class="container-xl">
  <div class="row page-header align-items-center">
{% include '@trinion_backend/node/deystviya_v_shapke_dokumenta.html.twig' %}
  </div>
</div>

<div class="view-document">
  <div class="card-body">
    <article{{ attributes.addClass('p-3') }}>
      {% include '@trinion_backend/schet_klienta.html.twig' %}
    </article>
  </div>
  <hr class="mt-0 mb-0">
  <div class="card-body pt-0">
    <article{{ attributes.addClass('p-3') }}>
      {{ content.field_tl_file }}
      {{ content.spisok_sviazannih_documentov }}
      <div class="mt-3">
        {{ content.field_tz_comments }}
      </div>
    </article>
  </div>
</div>
{{ drupal_form('Drupal\\trinion_crm\\Form\\FileUploadForm') }}
