<div class="view-document">
  <div class="card-body">
    <article{{ attributes.addClass('p-3') }}>
      {% include '@trinion_backend/zakaz_klienta.html.twig' %}
    </article>
  </div>
    <hr class="mt-0 mb-0">
  <div class="card-body pt-0">
    <article{{ attributes.addClass('p-3') }}>
      {{ content | without('field_tp_data', 'field_tp_itogo', 'field_tp_nacenka', 'field_tp_organizaciya', 'field_tp_skidka', 'field_tp_nds_itogo', 'field_tp_zakaz_dlya', 'field_tp_skorost_dostavki', 'field_tp_usloviya_postavki', 'field_tp_utverzhdeno', 'field_tp_stroki', 'field_tp_zarezervirovan', 'field_tp_uproschennaya_prodazha', 'field_tz_comments', 'spisok_sviazannih_documentov', 'field_tp_komm_predlozhenie') }}
      {{ content.spisok_sviazannih_documentov }}
      <div class="mt-3">
        {{ content.field_tz_comments }}
      </div>
    </article>
  </div>
</div>

{{ drupal_form('Drupal\\trinion_crm\\Form\\FileUploadForm') }}
