<div class="card-body view-document">
  <article{{ attributes }}>
    <div class="row">
      <div class="col-lg-7">
        <h1>{{ node.node_title }}</h1>
      </div>
      <div class="col-lg-5">
        <div class="row a1lign-items-center">
          <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
              {% if user.hasPermission('trinion_client_bank sozdanie_platezha') %}
                <span class="dropdown">
                  <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">
                    {% include '@trinion_backend/svg/dropdown.svg' %}
                  </button>
                  <div class="dropdown-menu dropdown-menu-end">
                    <a href="/sozdaniye-platezha/{{ node.id() }}" class="dropdown-item use-ajax">{{ 'Payment' | t }}</a>
                  </div>
                </span>
                {% endif %}
              <a class="btn btn-icon" data-tooltip="{{ 'Edit' | t }}" data-position="bottom center" href="/node/{{ node.id() }}/edit">{% include '@trinion_backend/svg/edit.svg' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ content | without('spisok_sviazannih_documentov', 'field_tz_comments') }}
    {{ content.spisok_sviazannih_documentov }}
    <div class="mt-3">
      {{ content.field_tz_comments }}
    </div>
  </article>
</div>
