{% include '@trinion_backend/node/deystviya_v_shapke_dokumenta.html.twig' %}

<div class="view-document">
  <article{{ attributes.addClass('p-3') }}>
    {% include '@trinion_backend/mail.html.twig' %}
    {{ content.field_tm_files }}
  </article>
</div>
