<div class="card-body view-document">
  <article{{ attributes }}>
    <div class="row">
      <div class="col-lg-7">
        <h1>{{ 'Lead № @num from @date' | t({'@num': node.label(), '@date' : node.created.getString() | date('d.m.Y')}) }}</h1>
      </div>
      <div class="col-lg-5">
        <div class="row a1lign-items-center">
          <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
              <a class="btn btn-icon" data-tooltip="{{ 'PDF form' | t }}" data-position="bottom center" href="/pdf/lead/{{ node.id() }}">{% include '@trinion_backend/svg/pdf.svg' %}</a>
              <a class="btn btn-icon" data-tooltip="{{ 'Edit' | t }}" data-position="bottom center" href="/node/{{ node.id() }}/edit">{% include '@trinion_backend/svg/edit.svg' %}</a>
              <a class="btn btn-icon node-attache-file" data-tooltip="{{ 'Attach file' | t }}" data-position="bottom center" href="">{% include '@trinion_backend/svg/attach-doc.svg' %}</a>
              <span class="dropdown">
                <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">
                  {% include '@trinion_backend/svg/dropdown.svg' %}
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                  <a href="/lead-convert?lead_id={{ node.id() }}" class="dropdown-item">{{ 'Lead convert' | t }}</a>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ content }}
  </article>
</div>
{{ drupal_form('Drupal\\trinion_crm\\Form\\FileUploadForm') }}
