<div class="view-document">
  <div class="card-body">
    <article{{ attributes.addClass('p-3') }}>
    {% include '@trinion_backend/vypusk_produkcii.html.twig' %}
    </article>
  </div>
</div>
{{ drupal_form('Drupal\\trinion_crm\\Form\\FileUploadForm') }}
