<div class="card-body view-document">
  <article{{ attributes }}>
    <div class="row">
      <div class="col-lg-7">
        <h1>{{ node.node_title }}</h1>
      </div>
      <div class="col-lg-5">
        <div class="row a1lign-items-center">
          <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
              <a class="btn btn-icon" data-tooltip="{{ 'Edit' | t }}" data-position="bottom center" href="/node/{{ node.id() }}/edit">{% include '@trinion_backend/svg/edit.svg' %}</a>
              <a class="btn btn-icon node-attache-file" data-tooltip="{{ 'Attach file' | t }}" data-position="bottom center" href="">{% include '@trinion_backend/svg/attach-doc.svg' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ content }}
  </article>
</div>
