<div class="view-document">
  <div class="card-body">
    <article{{ attributes.addClass('p-3') }}>
      {% include '@trinion_backend/zakaz_na_proizvodstvo.html.twig' %}
    </article>
  </div>
  <hr class="mt-0 mb-0">
  <div class="card-body pt-0">
    <article{{ attributes.addClass('p-3') }}>
      {{ content.field_tl_file }}
      {{ content.spisok_sviazannih_documentov }}
      <div class="mt-3">
        {{ content.field_tz_comments }}
      </div>
    </article>
  </div>
</div>
