<div class="card-body">
{{ content | without('field_tcl_izmeneniya') }}
<table class="table table-vcenter card-table table-striped">
  <thead>
    <tr>
      <th>{{ 'Field' | t }}</th>
      <th>{{ 'Old value' | t }}</th>
      <th>{{ 'New value' | t }}</th>
    </tr>
  </thead>
  <tbody>
    {{ content.field_tcl_izmeneniya }}
  </tbody>
</table>
</div>
