<div class="card-body view-document">
  <article{{ attributes }}>
    <div class="row">
      <div class="col-lg-7">
        <h1>{{ node.node_title }}</h1>
      </div>
    </div>
    {{ content | without('spisok_sviazannih_pro', 'spisok_sviazannih_puo', 'field_mrp_table', 'kolichestvo_sviazannih_puo', 'kolichestvo_sviazannih_pro', 'summa_sviazannih_puo') }}
    {% if content.kolichestvo_sviazannih_pro %}
    <div class="mb-3 d-flex field-wrapper">
      <div>{{ 'Count related Production Orders' | t }}:</div>
      <div>{{ content.kolichestvo_sviazannih_pro }}</div>
    </div>
    {% endif %}
    {% if content.kolichestvo_sviazannih_puo %}
    <div class="mb-3 d-flex field-wrapper">
      <div>{{ 'Count related Purchase Orders' | t }}:</div>
      <div>{{ content.kolichestvo_sviazannih_puo }}</div>
    </div>
    <div class="mb-3 d-flex field-wrapper">
      <div>{{ 'Total sum related Purchase Orders' | t }}:</div>
      <div>{{ content.summa_sviazannih_puo }}</div>
    </div>
    {% endif %}
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
          <li class="nav-item">
            <a href="#tab-records" class="nav-link active" data-bs-toggle="tab">{{ 'Records' | t }}</a>
          </li>
          <li class="nav-item">
            <a href="#tab-puo" class="nav-link" data-bs-toggle="tab">{{ 'PuO' | t }}</a>
          </li>
          <li class="nav-item">
            <a href="#tab-pro" class="nav-link" data-bs-toggle="tab">{{ 'PrO' | t }}</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-records">
            {{ content.field_mrp_table }}
          </div>
          <div class="tab-pane" id="tab-puo">
            {{ content.spisok_sviazannih_puo }}
          </div>
          <div class="tab-pane" id="tab-pro">
            {{ content.spisok_sviazannih_pro }}
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
