<div class="card-body view-document">
  <article{{ attributes }}>
    {% include '@trinion_backend/sdelka.html.twig' %}
    <div class="mt-3">
      {{ content.field_tl_file }}
      {{ content.spisok_sviazannih_documentov }}
    </div>
    <div class="mt-3">
      {{ content.field_tz_comments }}
    </div>
  </article>
</div>
{{ drupal_form('Drupal\\trinion_crm\\Form\\FileUploadForm') }}
