<div {{ attributes.addClass('rich-list-content') }}">
  <h4 class="rich-list-title">{{ content.field_tp_tip_dvizheniya }}</h4>
  <span class="rich-list-subtitle">{{ content | without('field_tp_tip_dvizheniya') }}</span>
</div>
