<div class="card">
  <div class="row g-0">
    <div class="col-12 col-lg-5 col-xl-3 border-end">
      <div class="card-header d-none d-md-block h-7">
        <div class="col-auto ms-auto d-print-none">
          <label class="form-check form-switch mt-2">
            <input class="form-check-input change-chat-status" type="checkbox" {{ not operator_status ? 'checked' }} value="1">
            <span class="form-check-label">{{ 'Operator active' | t }}</span>
          </label>
        </div>
      </div>
      <div class="card-body p-0 scrollable" style="max-height: 35rem">
        <div id="chats-list" class="nav flex-column nav-pills" role="tablist">
          <div class="ps-3 pt-1"><img src="/core/misc/throbber-active.gif" alt="" /></div>
        </div>
      </div>
    </div>


    <div class="col-12 col-lg-7 col-xl-9 d-flex flex-column">
      <div class="card-header d-none d-md-block h-7">
        <div class="col-auto ms-auto d-print-none">
          <div class="btn-list justify-content-end">
            <span id="pass-chat-btn" class="btn btn-primary p-2 custom-btn" title="{{ 'Switch operator' | t }}" style="display:none">
              {% include '@trinion_backend/svg/arrow-right-circle.svg' %}
            </span>
            <span id="switch-operator-wrapper"></span>
            <span id="close-chat-btn" class="btn btn-primary p-2 custom-btn" title="{{ 'Close chat' | t }}" style="display:none">
              {% include '@trinion_backend/svg/x.svg' %}
            </span>
          </div>
        </div>
      </div>
      <div class="card-body scrollable card-body-chat" style="height: 35rem">
        <div class="chat">
          <div class="chat-bubbles" id="msgs-wrapper" data-chat_id="">
            {{ 'Select chat...' | t }}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="input-group input-group-flat">
          <textarea type="text" class="form-control" autocomplete="off" placeholder="Type message" id="chat-msg-text" disabled></textarea>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="chat-item" id="chat-msg-tpl-right" style="display: none">
  <div class="row align-items-end justify-content-end">
    <div class="col col-lg-6">
      <div class="chat-bubble chat-bubble-me">
        <div class="chat-bubble-title">
          <div class="row">
            <div class="col chat-bubble-author"></div>
            <div class="col-auto chat-bubble-date"></div>
          </div>
        </div>
        <div class="chat-bubble-body">
        </div>
      </div>
    </div>
    <div class="col-auto"><span class="avatar" style="background-image: url(./static/avatars/000m.jpg)"></span>
    </div>
  </div>
</div>
<div class="chat-item" id="chat-msg-tpl-left" style="display: none">
  <div class="row align-items-end">
    <div class="col-auto"><span class="avatar" style="background-image: url(./static/avatars/002m.jpg)"></span>
    </div>
    <div class="col col-lg-6">
      <div class="chat-bubble">
        <div class="chat-bubble-title">
          <div class="row">
            <div class="col chat-bubble-author"></div>
            <div class="col-auto chat-bubble-date"></div>
          </div>
        </div>
        <div class="chat-bubble-body">
        </div>
      </div>
    </div>
  </div>
</div>
