{% for month, month_days in days %}
<div class="grid-proizvodstvenniy-kalendar mt-3">
  <div class="month">{{ month }}</div>
  <div class="th">Mon</div>
  <div class="th">Tues</div>
  <div class="th">Wed</div>
  <div class="th">Thur</div>
  <div class="th">Fri</div>
  <div class="th">Sat</div>
  <div class="th">Sun {{ month_days.0.week_day }}</div>
  {% for num, day in month_days %}
    <div class="day"><span>{{ day.day }}</span><span>{{ day.num }}</span></div>
  {% endfor %}
</div>
{% endfor %}
