<style type="text/css">
@page {
  margin: 20px;
}

body {
  font-family: RobotoCondensedRegular, var(--tblr-body-font-family), sans-serif;
}

.doc_form b, .doc_form h1, .doc_form h2, .doc_form h3
{
  font-family: RobotoCondensedRegular, var(--tblr-body-font-family), sans-serif;
}

.doc_form h1, .doc_form h2 {
  margin-top: 0px;
}

.doc_form th
{
  padding: 5px 5px 5px 5px;
}

.doc_form td
{
  padding: 5px;
}
.doc_form .table {
  border: 1px solid #000;}
.doc_form .tg  {
  border-collapse:collapse;
  border-spacing:0;}
.doc_form .ti  {
  border-collapse:collapse;
  border-spacing:0;}
.doc_form .ti td{
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-size:14px;
  /*overflow:hidden;*/
  padding:5px 5px;
  word-break:normal;}
.doc_form .ti th{
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-size:14px;
  font-weight:normal;
  /*overflow:hidden;*/
  padding:5px 5px;
  word-break:normal;}

.doc_form .tg td {
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px;
  word-break: normal;
}

.doc_form .ti .tg-1wig{
  vertical-align:top;
  background-color: gainsboro;}
.doc_form .tg .tg-0lax{
  text-align:left;
  vertical-align:top}
.tg .tg-1lax {
  text-align: left;
  vertical-align: top;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  /*overflow: hidden;*/
  padding: 5px 10px;
  word-break: normal;
}
.doc_form .tg .tg-2lax {
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  font-weight: normal;
  padding: 5px 10px;
  word-break: normal;
  vertical-align: middle;
}
.doc_form .tg .tg-1laxright {
  text-align: right;
  vertical-align: top;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  /*overflow: hidden;*/
  padding: 5px 10px;
  word-break: normal;
}
.doc_form .bordered {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.doc_form .top {
  border-top: 1px solid black;
}
.doc_form .right {
  border-right: 1px solid black;
}
.doc_form .left {
  border-left: 1px solid black;
}
.doc_form .bottom {
  border-bottom: 1px solid black;
}
.doc_form .top-bold {
  border-top: 2px solid black;
}
.doc_form .right-bold {
  border-right: 2px solid black;
}
.doc_form .left-bold {
  border-left: 2px solid black;
}
.doc_form .bottom-bold {
  border-bottom: 2px solid black;
}
.doc_form .btn-list {
  justify-content: end;
}
.doc_form .div-container {
  min-width: 100%;
  max-width: 100%;
}
.doc_form .float {
  float: left;
  margin-left: 3;
  margin-right: 3;
}
.doc_form .padding{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: -5px;
  margin: 0;
}
.doc_form svg {
  position: relative;
  margin-right: 5px;
}
.div-pl-0 {
  padding-left: 0;
  margin-left: -5px;
}
.color-grey {
	background-color: #f2f3f4;
}

.color-black {
	background-color: #3c3d3a;
	color:#ffffff;
}

.textcolor-grey {
	color:#727272;
}


{% if view_mode != 'full' %}
.btn-list {
  display: none;
}
{% endif %}
</style>
