{% include '@trinion_backend/.document.css' %}
<div class="doc_form">
<h1>Act № {{ node.id }} from {{ node.field_tp_data.getString() | date('d.m.Y') }}</h1>

<table width="100%">
  <tr valign="top">
    <td width="100">

      <div>Поставщик (исполнитель):</div>

    </td>
  <td>
  <div><strong>{{ node.get('field_tp_organizaciya').0.entity.label() }} ИНН/КПП {{ org.get('field_tl_inn').getString() | nl2br }} {{ org.get('field_tl_kpp').getString() | nl2br }} {{ org.get('field_tl_adres_organizacii').getString() | nl2br }}</strong></div>

  </td>

  </tr>
  <tr valign="top">
  <td width="100">

      <div>Покупатель (заказчик):</div>

    </td>
  <td>
  <div><strong>{{ node.get('field_tp_zakaz_klienta').0.entity.label() }} {{ node.get('field_tp_adres_dostavki').getString() | nl2br }} </strong></div>

  </td>



  </tr>
</table>

<div style="float: none; margin: 20px 0;"></div>

<table class="ti items table" width="100%">
  <tr valign="top">
    <th class="tg-1wig" align="center">№</th>
    <th class="tg-1wig" align="left">Товары и описание</th>
    <th class="tg-1wig" align="right">Количество</th>
    <th class="tg-1wig" align="right">Ед. изм</th>
    {% if pokaz_nacenka %}<th align="right">Наценка</th>{% endif %}
    {% if pokaz_skidka %}<th align="right">Скидка</th>{% endif %}
    <th class="tg-1wig" align="right">НДС</th>
    <th class="tg-1wig" align="right">Цена</th>
    <th class="tg-1wig" align="right">Сумма</th>
  </tr>
  {% for item in node.get('field_tp_stroki') %}
    {% set cena = item.entity.field_tp_cena.getString() %}
    {% set kolichestvo = item.entity.field_tp_kolichestvo.getString() %}
    {% set summa = item.entity.cena_itogo %}
    {% set nds_itogo = nds_itogo + item.entity.nds %}
    {% set subtotal = subtotal + item.entity.get('field_tp_kolichestvo').getString() * item.entity.get('field_tp_kolichestvo').getString() %}

    {% if item.nacenka_abs > 0 %}
      {% set pokaz_nacenka = 1 %}
    {% endif %}
    {% if item.skidka_abs > 0 %}
      {% set pokaz_skidka = 1 %}
    {% endif %}

    <tr valign="top">
      <td align="center"width="30">{{ loop.index }}</td>
      <td>{{ item.entity.field_tp_tovar.0.entity.label() }}</td>
      <td align="right">{{ kolichestvo }}</td>
      <td align="right">{{ item.entity.field_tp_edinica_izmereniya is not empty ? item.entity.field_tp_edinica_izmereniya.entity.label() }}</td>
      {% if pokaz_nacenka %}<td align="right">{{ item.entity.nacenka_abs | number_format(2, '.', ' ') }}</td>{% endif %}
      {% if pokaz_skidka %}<td align="right">{{ item.entity.skidka_abs | number_format(2, '.', ' ') }}</td>{% endif %}
      <td align="right">{{ item.entity.field_tp_nds.getSetting('allowed_values')[item.entity.field_tp_nds.getString()] }}</td>
      <td align="right">{{ cena | number_format(2, '.', ' ') }}</td>
      <td align="right">{{ summa | number_format(2, '.', ' ') }}</td>
    </tr>
  {% endfor %}
</table>
<table class="items" width="40%" align="right">
  <tr valign="top" class="">
    {% if pokaz_nacenka %}<td></td>{% endif %}
    {% if pokaz_skidka %}<td></td>{% endif %}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td align="right">Подитог</td>
    <td align="right"></td>
    <td align="right">{{ subtotal | number_format(2, '.', ' ') }}</td>
  </tr>
  <tr valign="top">
    {% if pokaz_nacenka %}<td></td>{% endif %}
    {% if pokaz_skidka %}<td></td>{% endif %}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td align="right">НДС</td>
    <td align="right"></td>
    <td align="right">{{ node.get('field_tp_nds_itogo').getString() | number_format(2, '.', ' ') }}</td>
  </tr>
  {% if pokaz_nacenka %}
    <tr valign="top">
      {% if pokaz_nacenka %}<td></td>{% endif %}
      {% if pokaz_skidka %}<td></td>{% endif %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="right">Наценка</td>
      <td align="right"></td>
      <td align="right">{{ node.get('field_tp_nacenka').getString() | number_format(2, '.', ' ') }}</td>
    </tr>
  {% endif %}
  {% if pokaz_skidka %}
    <tr valign="top">
      {% if pokaz_nacenka %}<td></td>{% endif %}
      {% if pokaz_skidka %}<td></td>{% endif %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="right">Скидка</td>
      <td align="right"></td>
      <td align="right">{{ node.get('field_tp_skidka').getString() | number_format(2, '.', ' ') }}</td>
    </tr>
  {% endif %}
  <tr valign="top">
    {% if pokaz_nacenka %}<td></td>{% endif %}
    {% if pokaz_skidka %}<td></td>{% endif %}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td align="right">Итого</td>
    <td align="right"></td>
    <td align="right">{{ node.get('field_tp_itogo').getString() | number_format(2, '.', ' ') }}</td>
  </tr>
</table>



<div>Всего услуг {{ node.get('field_tp_stroki') | length }}, на сумму {{ node.get('field_tp_itogo').getString() | number_format(2, '.', ' ') }} руб.</div>
<div>{{ getPluralCost(node.get('field_tp_itogo').getString()) }}</div>

<br>
<div>Вышеперечисленные услуги выполнены полностью и в срок. Заказчик претензий по объему, качеству и срокам оказания услуг не имеет.</div>

<br><br>

<table width="100%">
  <tr>
    <td width="50%" style="position: relative">Поставщик _______________________________{% if podpis %}<img src="{{ podpis }}" width="100" style="margin-left:100px; position: absolute; left: 0;top: -5px;z-index:-100">{% endif %}</td>
    <td align="right" style="position: relative">Покупатель ________________________________{% if podpis_bukhgaltera %}<img src="{{ podpis_bukhgaltera }}" width="100" style="margin-left:150px; position: absolute; left: 0;top: -5px; z-index:-100">{% endif %}</td>
  </tr>
  <tr valign="top">
    <td align="center" style="font-size: 14px;position: relative">{% if pechat %}<img src="{{ pechat }}" width="100" style="position: absolute; top: 10px; left: 150px;z-index: -100">{% endif %}м.п.</td>
  </tr>
</table>
</div>
