{% include '@trinion_backend/node/deystviya_v_shapke_dokumenta.html.twig' %}
<div class="ui four column grid">
  <div class="two column row">
    <div class="column"><h4>{{ content.field_tp_tovar }}</h4></div>
    <div class="column">{{ content.field_vid_ceny }}</div>
  </div>
 
</div>

<div class="ui grid">
  <div class="sixteen wide column">{{ content.field_tp_kharakteristika_tovara }} </div>
  
  <div class="eight wide column">{{ content.field_tp_cena }}</div>
</div>