{% include '@trinion_backend/.document.css' %}
<div class="doc_form">
<table class="tg div-container">
<tbody>
<tr>
	<td colspan="3" class="tg-2lax top-bold left-bold">{{ 'Компания № @num от @date' | t({'@num': node.id(), '@date' : node.created.getString() | date('d.m.Y')}) }}</td>
</tr>
<tr>
    <td width="25%" class="tg-1lax top left-bold right">{{ 'Company name' | t }}:</td>
    <td width="25%" class="tg-1lax top right">{{ 'E-mail' | t }}:</td>
    <td width="25%" class="tg-1lax top right-bold">{{ 'Phone number' | t }}:</td>

  </tr>
  <tr>
    <td class="tg-0lax left-bold bottom right">{{ node.label() }}</td>
    <td class="tg-0lax bottom right">{{ node.get('field_tl_email').getString() }}</td>
    <td class="tg-0lax bottom right-bold">{{ node.get('field_tl_nomer_telefona').getString() }}</td>

  </tr>
  <tr>
	<td class="tg-1lax left-bold right">{{ 'INN' | t }}:</td>
    <td colspan="2" class="tg-1lax left right-bold">{{ 'Текст' | t }}:</td>
  </tr>
  <tr>
	<td class="tg-1lax left-bold bottom right">{{ node.get('field_tl_inn').getString() }}</td>
	<td class="tg-0lax bottom right-bold" colspan="2" rowspan="5">{{ node.get('field_tl_text').getString() }}</td>
  </tr>
  <tr>
	<td class="tg-1lax left-bold right">{{ 'OGRN' | t }}:</td>
  </tr>
  <tr>
	<td class="tg-1lax left-bold bottom right">{{ node.get('field_tl_ogrn').getString() }}</td>
  </tr>
  <tr>
	<td class="tg-1lax left-bold right">{{ 'Adress' | t }}:</td>
  </tr>
  <tr>
	<td class="tg-1lax left-bold bottom right">{{ node.get('field_tl_adres').getString() }}</td>
  </tr>
  <tr>
    <td class="tg-1lax left-bold right">{{ 'Organization' | t }}:</td>

	<td class="tg-1lax right">{{ 'Responsible' | t }}:</td>
	<td class="tg-1lax right-bold">{{ 'Author' | t }}:</td>
  </tr>
  <tr>
    <td class="tg-0lax bottom-bold left-bold right"></td>
    <td class="tg-0lax bottom-bold right">{{ node.get('field_tl_otvetstvennyy').0.entity.label() }}</td>
	<td class="tg-0lax bottom-bold right-bold">{{ author_name }}</td>
  </tr>

</tbody>
</table>
</div>

