{% include '@trinion_backend/.document.css' %}
<div class="doc_form">
<table class="tg div-container">
<tbody>
<tr>
  <td colspan="4" class="tg-2lax top-bold left-bold">{{ 'Лид № @num от @date' | t({'@num': node.label(), '@date' : node.created.getString() | date('d.m.Y')}) }}</td>
</tr>
<tr>
    <td width="25%" class="tg-1lax top left-bold right">{{ 'Full name' | t }}:</td>
    <td width="25%" class="tg-1lax top right">{{ 'E-mail' | t }}:</td>
    <td width="25%" class="tg-1lax top right">{{ 'Phone number' | t }}:</td>
    <td width="25%" class="tg-0lax top right-bold">{{ 'Entry method' | t }}:</td>

  </tr>
  <tr>
    <td class="tg-0lax left-bold bottom right">{{ node.get('field_tl_fio').getString() }}</td>
    <td class="tg-0lax bottom right">{{ node.get('field_tl_email').getString() }}</td>
    <td class="tg-0lax bottom right">{{ node.get('field_tl_nomer_telefona').getString() }}</td>
  <td class="tg-0lax bottom right-bold">{{ node.get('field_tl_metod_vkhozhdeniya_lida').entity.label() }}</td>
  </tr>
  <tr>
    <td colspan="4" class="tg-1lax left-bold right-bold">{{ 'Text' | t }}:</td>
  </tr>
  <tr>
    <td class="tg-0lax left-bold bottom right-bold" colspan="4"> {{ node.get('field_tl_text').getString() }}</td>

  </tr>

  <tr>
    <td class="tg-1lax left-bold">{{ 'Organization' | t }}:</td>
    <td class="tg-0lax right"> </td>
  <td class="tg-1lax right">{{ 'Responsible' | t }}:</td>
  <td class="tg-1lax right-bold">{{ 'Author' | t }}:</td>
  </tr>
  <tr>
    <td class="tg-0lax bottom-bold left-bold ">{{ node.get('field_tl_kompaniya').entity.label() }}</td>
    <td class="tg-0lax bottom-bold right"> </td>
  <td class="tg-0lax bottom-bold right">{{ node.get('field_tl_otvetstvennyy').entity.get('field_tb_nick_name').getString() }}</td>
  <td class="tg-0lax bottom-bold right-bold">{{ node.get('uid').entity.get('field_tb_nick_name').getString() }}</td>
  </tr>
</tbody>
</table>
</div>

