{% include '@trinion_backend/.document.css' %}
<div class="div-container">
  <table class="tg">
    <tbody>
    <tr>
      <td colspan="4" class="tg-2lax top-bold left-bold right-bold">Тема письма: {{ node.id }} от {{ node.created.getString() | date('j.m.Y') }}</td>
    </tr>
    <tr>
      <td width="33%" colspan="2" class="tg-1lax top-bold left-bold right-bold">Адрес отправителя:</td>
      <td width="33%" colspan="2" class="tg-1lax top-bold left-bold right-bold">Кто написал:</td>
    </tr>
    <tr>
      <td colspan="2" class="tg-0lax left-bold bottom right-bold">{{ content.field_tm_sender_email }}</td>
      <td colspan="2" class="tg-0lax left-bold bottom right-bold">{{ content.field_tm_mail_from }}</td>
      </td>
    <tr>
      <td colspan="4" class="tg-1lax left-bold right-bold">Тема:</td>
    </tr>
    <tr>
      <td class="tg-0lax left-bold bottom right-bold" colspan="4"> {{ node.label() }}</td>
    </tr>
    <tr>
      <td colspan="4" class="tg-1lax left-bold right-bold">Текст:</td>
    </tr>
    <tr>
      <td class="tg-0lax left-bold bottom right-bold" colspan="4"> {{ content.field_tm_text }}</td>
    </tr>

    </tbody>
  </table>
</div>
