{%  set custom_template = node.get('field_tb_shablon_pechatnoy_formi').0.entity.get('field_tb_template_name').getString() %}
{% if custom_template %}
  {% include '@trinion_user_templates/' ~ custom_template %}
{% else %}

{% include '@trinion_backend/.document.css' %}
<div class="doc_form">
  <div class="row">
    <div class="col-lg-7">
      <h2>{{ 'MPS № @num from @date' | t({'@num': node.label(), '@date': node.field_tp_data.date|date('U')|format_date('custom', 'd.m.Y H:i')}) }}</h2>
    </div>
    <div class="col-lg-5">
      {% include '@trinion_backend/node/deystviya_v_shapke_dokumenta.html.twig' %}
    </div>
  </div>
<div style="float: none; margin: 20px 0;"></div>

{% if node.get('field_tp_stroki') | length %}
  <div class="table-responsive">
<table class="ti items table mps-view-table" width="100%">
  <tr valign="top">
    <th class="tg-1wig" align="left">{{ 'Part #' | t }}</th>
    {% for i in 1 .. node.field_tp_stroki.0.entity.periods | length %}
    <th class="tg-1wig" align="right">{{ i }}</th>
    {% endfor %}
    <th class="tg-1wig" align="right">Ед. изм</th>
  </tr>
  {% for item in node.get('field_tp_stroki') %}
    <tr valign="top">
      <td>{{ item.entity.field_tp_tovar.0.entity.field_tp_artikul.getString() }}</td>
      {% for cnt in item.entity.periods %}
      <td align="right">{{ cnt }}</td>
      {% endfor %}
      <td align="right">{{ item.entity.field_tp_edinica_izmereniya is not empty ? item.entity.field_tp_edinica_izmereniya.entity.label() }}</td>
    </tr>
  {% endfor %}
</table>
</table>
{% else %}
  {{ 'MPS is emtpty' | t }}
{% endif %}
</div>
{% endif %}
