{% include '@trinion_backend/.document.css' %}
<div class="doc_form">
  <div class="row">
    <div class="col-lg-7">
      <h2>{{ node.node_title }}</h2>
    </div>
    <div class="col-lg-5">
      {% include '@trinion_backend/node/deystviya_v_shapke_dokumenta.html.twig' %}
    </div>
  </div>

<table width="100%">
  <tr valign="top">
	  <td width="120" style="padding-left: 0px;">
		  <div>Плательщик:</div>
		</td>
	  <td>
	  {% set cus = node.get('field_tp_platelschik').0.entity %}
		<div><strong>{{ cus.label() }} Адрес: {{ cus.get('field_tl_adres').getString() }} ИНН/КПП {{ cus.get('field_tl_inn').getString() }} / {{ cus.get('field_tl_kpp').getString() }}</strong></div>
	  </td>
  </tr>
  <tr valign="top">
	  <td width="120" style="padding-left: 0px;">
		  <div>Банковские реквизиты плательщика:</div>
		</td>
	  <td>
	   <div>Наименование банка: {{ to_bank }}</div>
			<div>БИК: {{ to_bik }}</div>
			<div>Рассчетный счет: {{ to_rs }}</div>
	  </td>
  </tr>
  <tr valign="top">
	  <td width="120" style="padding-left: 0px;">
		  <div>Номер входящего документа:</div>
		</td>
	  <td>
	   <div><strong>{{ node.get('field_tp_nomer_vkh_plat').getString() | nl2br }}</strong></div>
	  </td>
  </tr>
  <tr valign="top">
	  <td width="120" style="padding-left: 0px;">
		  <div>Платежная система:</div>
		</td>
	  <td>
	   <div><strong>{{ node.get('field_tp_platezhnaya_sistema').0.entity.label() }}</strong></div>
	  </td>
  </tr>
</table>



<h2>Оплаченные счета</h2>

<div style="float: none; margin: 20px 0;"></div>

<table class="ti items table" width="100%">
  <tr valign="top" class="head">
    <th class="tg-1wig" align="center">Номер счета</td>
    <th class="tg-1wig">Дата</th>
    <th class="tg-1wig" align="right">Сумма</th>
    <th class="tg-1wig" align="right">Оплачено</th>
  </tr>
  {% for item in node.get('field_tp_stroki') %}
    <tr class="subitem">
      <td>{{ item.entity.get('field_tp_schet').0.entity.label() }}</td>
      <td>{{ item.entity.get('field_tp_schet').0.entity.get('field_tp_data').getString() }}</td>
      <td align="right">{{ item.entity.get('field_tp_schet').0.entity.get('field_tp_itogo').getString() }}</td>
      <td align="right">{{ item.entity.get('field_tp_oplachennaya_summa').getString() }}</td>
    </tr>
  {% endfor %}
</table>
</div>
