{%  set custom_template = node.get('field_tb_shablon_pechatnoy_formi').0.entity.get('field_tb_template_name').getString() %}
{% if custom_template %}
  {% include '@trinion_user_templates/' ~ custom_template %}
{% else %}

{% include '@trinion_backend/.document.css' %}
<div class="doc_form">

<table width="100%">
  <tr>
    <td style="width:80%;">
      <div class="row">
        <div class="col-lg-7">
          <h2>{{ node.node_title }}</h2>
        </div>
        <div class="col-lg-5">
          {% include '@trinion_backend/node/deystviya_v_shapke_dokumenta.html.twig' %}
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td style="width:20%; text-align: right">
      Вх. номер: {{ node.get('field_tp_nomer_vkhodyaschego_dok').getString() }}
    </td>
  </tr>
</table>

<table width="100%">
	<tr valign="top">
		<td width="100" style="padding-left: 0px;">
		  <div>Поставщик (исполнитель):</div>
		</td>
		<td>
		  <div><strong>{{ node.get('field_tp_postavschik').0.entity.label() }}, ИНН/КПП {{ node.get('field_tp_postavschik').0.entity.get('field_tl_inn').getString() }}/{{ node.get('field_tp_postavschik').0.entity.get('field_tl_kpp').getString() }}, {{ node.get('field_tp_postavschik').0.entity.get('field_tl_adres').getString() }}</strong>
		  </div>
		</td>
	</tr>
	<tr valign="top">
		<td width="100" style="padding-left: 0px;">
			<div>Покупатель (заказчик):</div>
		</td>
	  <td colspan="4">
		{% set org = node.get('field_tp_organizaciya').0.entity %}
		<div><strong>{{ org.label() }}, ИНН/КПП {{ org.get('field_tl_inn').getString() }}/{{ org.get('field_tl_kpp').getString() }}, {{ org.get('field_tl_adres_organizacii').getString() }}</strong></div>
	  </td>
	</tr>
	<tr valign="top">
		<td width="120" style="padding-left: 0px;">
			<div>Склад:</div>
		</td>
		<td>
			<div><strong>{{ node.get('field_tp_sklad').0.entity.label() }} </strong></div>
		</td>
    <td width="15%" style="padding-left: 0px;">
			<div>Заказ поставщику:</div>
		</td>
		<td align="left">
			<div><strong>{{ node.get('field_tp_zakazy_postavschiku').0.entity.label() }} </strong></div>
		</td>
    <td width="35%"></td>
	</tr>
	<tr valign="top">

	</tr>
  </table>

<div style="float: none; margin: 20px 0;"></div>

<table class="ti items table" width="100%">
  <tr valign="top">
    <th class="tg-1wig" align="center">№</th>
    <th class="tg-1wig" align="left">Товары и описание</th>
    <th class="tg-1wig" align="right">Кол-во</th>
    <th class="tg-1wig" align="right">Ед. изм</th>
    {% if pokaz_nacenka %}<th align="right">Наценка</th>{% endif %}
    {% if pokaz_skidka %}<th align="right">Скидка</th>{% endif %}
    <th class="tg-1wig" align="right">НДС</th>
    <th class="tg-1wig" align="right">Цена</th>
    <th class="tg-1wig" align="right">Сумма</th>
  </tr>
  {% for item in node.get('field_tp_stroki') %}
    {% set cena = item.entity.field_tp_cena.getString() %}
    {% set kolichestvo = item.entity.field_tp_kolichestvo.getString() %}
    {% set summa = item.entity.cena_itogo %}
    {% set nds_itogo = nds_itogo + item.entity.nds %}
    {% set subtotal = subtotal + item.entity.get('field_tp_kolichestvo').getString() * item.entity.get('field_tp_kolichestvo').getString() %}

    {% if item.nacenka_abs > 0 %}
      {% set pokaz_nacenka = 1 %}
    {% endif %}
    {% if item.skidka_abs > 0 %}
      {% set pokaz_skidka = 1 %}
    {% endif %}

    <tr valign="top">
      <td align="center" width="30">{{ loop.index }}</td>
      <td>{{ item.entity.field_tp_tovar.0.entity.label() }}</td>
      <td align="right">{{ kolichestvo }}</td>
      <td align="right">{{ item.entity.field_tp_edinica_izmereniya is not empty ? item.entity.field_tp_edinica_izmereniya.entity.label() }}</td>
      <td align="right">{{ item.entity.field_tp_nds.getSetting('allowed_values')[item.entity.field_tp_nds.getString()] }}</td>
      <td align="right">{{ cena | number_format(2, '.', ' ') }}</td>
      <td align="right">{{ summa | number_format(2, '.', ' ') }}</td>
    </tr>
  {% endfor %}
</table>
<table class="items" width="100%">
  <tr valign="top">
    <td colspan="8" rowspan="6">
      <div class="div-pl-0">Всего наименований {{ node.get('field_tp_stroki') | length }}, на сумму {{ node.get('field_tp_itogo').getString() | number_format(2, '.', ' ') }} руб.</div>
      <div class="div-pl-0">{{ getPluralCost(node.get('field_tp_itogo').getString()) }}</div>
    </td>
    <td></td>
    {% if pokaz_nacenka %}<td></td>{% endif %}
    {% if pokaz_skidka %}<td></td>{% endif %}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td align="right">Подитог:</td>

    <td align="right">{{ subtotal | number_format(2, '.', ' ') }}</td>
  </tr>
  <tr valign="top">
    <td></td>
    {% if pokaz_nacenka %}<td></td>{% endif %}
    {% if pokaz_skidka %}<td></td>{% endif %}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td align="right">НДС:</td>

    <td align="right">{{ node.get('field_tp_nds_itogo').getString() | number_format(2, '.', ' ') }}</td>
  </tr>
  {% if pokaz_nacenka %}
    <tr valign="top">
      <td></td>
      {% if pokaz_nacenka %}<td></td>{% endif %}
      {% if pokaz_skidka %}<td></td>{% endif %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="right">Наценка:</td>

      <td align="right">{{ node.get('field_tp_nacenka').getString() | number_format(2, '.', ' ') }}</td>
    </tr>
  {% endif %}
  {% if pokaz_skidka %}
    <tr valign="top">
      <td></td>
      {% if pokaz_nacenka %}<td></td>{% endif %}
      {% if pokaz_skidka %}<td></td>{% endif %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="right">Скидка:</td>

      <td align="right">{{ node.get('field_tp_skidka').getString() | number_format(2, '.', ' ') }}</td>
    </tr>
  {% endif %}
  <tr valign="top">
    <td></td>
    {% if pokaz_nacenka %}<td></td>{% endif %}
    {% if pokaz_skidka %}<td></td>{% endif %}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td align="right">Итого:</td>

    <td align="right">{{ node.get('field_tp_itogo').getString() | number_format(2, '.', ' ') }}</td>
  </tr>
</table>

<div style="clear: both;"></div>

<br><br>

<table width="100%">
  <tr>
    <td width="50%" style="position: relative; padding-left: 0px;">Поставщик _______________________________{% if podpis %}<img src="{{ podpis }}" width="100" style="margin-left:100px; position: absolute; left: 0;top: -5px;z-index:-100">{% endif %}</td>
    <td align="right" style="position: relative">Покупатель ________________________________{% if podpis_bukhgaltera %}<img src="{{ podpis_bukhgaltera }}" width="100" style="margin-left:150px; position: absolute; left: 0;top: -5px; z-index:-100">{% endif %}</td>
  </tr>
  <tr valign="top">
    <td align="center" style="font-size: 14px;position: relative">{% if pechat %}<img src="{{ pechat }}" width="100" style="position: absolute; top: 10px; left: 150px;z-index: -100">{% endif %}м.п.</td>
  </tr>
</table>
</div>

{% endif %}
