{%  set custom_template = node.get('field_tb_shablon_pechatnoy_formi').0.entity.get('field_tb_template_name').getString() %}
{% if custom_template %}
  {% include '@trinion_user_templates/' ~ custom_template %}
{% else %}

{% include '@trinion_backend/.document.css' %}
<div class="doc_form">
<table width="100%" style="border: 1px solid #000;" class="tg div-container mb-3">
  {% set org = node.get('field_tp_organizaciya').0.entity %}
  <tr valign="top">
    <td colspan="2" rowspan="2" width="50%" class="bottom right">
      {{ node.get('field_tp_schyot_v_banke').0.entity.get('field_tp_bank_organizacii').getString() }}
      <br> <br>
      <span>Банк получателя</span>
    </td>
    <td width="10%" class="left bottom">БИК</td>
    <td class="left">
      {{ node.get('field_tp_schyot_v_banke').0.entity.get('field_tp_bik_banka_organizacii').getString() }}
    </td>
  </tr>
  <tr valign="top">
    <td class="right bottom">Сч. №</td>
    <td class="bottom">{{ node.get('field_tp_schyot_v_banke').0.entity.get('field_tp_raschetnyy_schet_org').getString() }}</td>
  </tr>
  <tr valign="top">
    <td class="right bottom">ИНН {{ org.get('field_tl_inn').getString() }}</td>
    <td class="right bottom">КПП {{ org.get('field_tl_kpp').getString() }}</td>
    <td rowspan="2" class="bottom right">Сч. №</td>
    <td rowspan="2">{{ node.get('field_tp_schyot_v_banke').0.entity.get('field_tp_korr_schet_banka_org').getString() }}</td>
  </tr>
  <tr valign="top">
    <td colspan="2" class="right">
      {{ org.label() }}
      <br>
      <span>Получатель</span>
    </td>
  </tr>
</table>

<h2>{{ node.node_title }}</h2>

<table width="100%">
  <tr valign="top">
    <td width="100">

      <div class="div-pl-0">Поставщик (исполнитель):</div>

    </td>
  <td>
    {% set org = node.get('field_tp_organizaciya').0.entity %}
    <div><strong>{{ org.label() }}, ИНН/КПП {{ org.get('field_tl_inn').getString() }}/{{ org.get('field_tl_kpp').getString() }}, {{ org.get('field_tl_adres_organizacii').getString() }}</strong></div>

  </td>

  </tr>
  <tr valign="top">
  <td width="100">

      <div class="div-pl-0">Покупатель (заказчик):</div>

    </td>
  <td>
  <div><strong>{{ node.get('field_tp_schet_dlya').0.entity.label() }}, ИНН/КПП {{ node.get('field_tp_schet_dlya').0.entity.get('field_tl_inn').getString() }}/{{ node.get('field_tp_schet_dlya').0.entity.get('field_tl_kpp').getString() }}, {{ node.get('field_tp_schet_dlya').0.entity.get('field_tl_adres').getString() }} </strong></div>

  </td>

  </tr>
</table>

<div style="float: none; margin: 10px 0;"></div>
{% if node.get('field_tp_osnovanie_vruchnuyu').getString() %}
  <table>
    <tr>
        <td style="padding: 0">{{ content.field_tp_osnovanie_platezha['#title'] }}: </td>
        <td>{{ content.field_tp_osnovanie_platezha.0 }}</td>
    </tr>
    <tr>
        <td style="padding: 0">{{ content.field_tp_itogo['#title'] }}: </td>
        <td>{{ content.field_tp_itogo.0 }} {{ content.field_tl_valyuta.0 }}</td>
    </tr>
  </table>
{% else %}
  <table class="ti items table" width="100%">
    <tr valign="top">
      <th class="tg-1wig" align="center">№</th>
      <th class="tg-1wig" align="left">Товары и описание</th>
      <th class="tg-1wig" align="right">Кол-во</th>
      <th class="tg-1wig" align="right">Ед. изм</th>
      {% if pokaz_nacenka %}<th align="right">Наценка</th>{% endif %}
      {% if pokaz_skidka %}<th align="right">Скидка</th>{% endif %}
      <th class="tg-1wig" align="right">НДС</th>
      <th class="tg-1wig" align="right">Цена</th>
      <th class="tg-1wig" align="right">Сумма</th>
    </tr>
    {% for item in node.get('field_tp_stroki') %}
      {% set cena = item.entity.field_tp_cena.getString() %}
      {% set kolichestvo = item.entity.field_tp_kolichestvo.getString() %}
      {% set summa = item.entity.cena_itogo %}
      {% set nds_itogo = nds_itogo + item.entity.nds %}
      {% set subtotal = subtotal + item.entity.get('field_tp_kolichestvo').getString() * item.entity.get('field_tp_kolichestvo').getString() %}

      {% if item.nacenka_abs > 0 %}
        {% set pokaz_nacenka = 1 %}
      {% endif %}
      {% if item.skidka_abs > 0 %}
        {% set pokaz_skidka = 1 %}
      {% endif %}

      <tr valign="top">
        <td align="center" width="30">{{ loop.index }}</td>
        <td>{{ item.entity.field_tp_tovar.0.entity.label() }}</td>
        <td align="right">{{ kolichestvo }}</td>
        <td align="right">{{ item.entity.field_tp_edinica_izmereniya is not empty ? item.entity.field_tp_edinica_izmereniya.entity.label() }}</td>
        {% if pokaz_nacenka %}<td align="right">{{ item.entity.nacenka_abs | number_format(2, '.', ' ') }}</td>{% endif %}
        {% if pokaz_skidka %}<td align="right">{{ item.entity.skidka_abs | number_format(2, '.', ' ') }}</td>{% endif %}
        <td align="right">{{ item.entity.field_tp_nds.getSetting('allowed_values')[item.entity.field_tp_nds.getString()] }}</td>
        <td align="right">{{ cena | number_format(2, '.', ' ') }}</td>
        <td align="right">{{ summa | number_format(2, '.', ' ') }}</td>
      </tr>
    {% endfor %}
  </table>
  <table class="items" width="100%">
    <tr valign="top">
      <td colspan="8" rowspan="6">
        <div class="div-pl-0">Всего наименований {{ node.get('field_tp_stroki') | length }}, на сумму {{ node.get('field_tp_itogo').getString() | number_format(2, '.', ' ') }} руб.</div>
        <div class="div-pl-0">{{ getPluralCost(node.get('field_tp_itogo').getString()) }}</div>
        <div class="div-pl-0">Оплатить не позднее {{ node.field_tp_oplatit_do.getString() | date('d.m.Y') }}</div>
      </td>
      <td></td>
      {% if pokaz_nacenka %}<td></td>{% endif %}
      {% if pokaz_skidka %}<td></td>{% endif %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="right">Подитог:</td>

      <td align="right">{{ subtotal | number_format(2, '.', ' ') }}</td>
    </tr>
    <tr valign="top">
      <td></td>
      {% if pokaz_nacenka %}<td></td>{% endif %}
      {% if pokaz_skidka %}<td></td>{% endif %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="right">НДС:</td>

      <td align="right">{{ node.get('field_tp_nds_itogo').getString() | number_format(2, '.', ' ') }}</td>
    </tr>
    {% if pokaz_nacenka %}
      <tr valign="top">
        <td></td>
        {% if pokaz_nacenka %}<td></td>{% endif %}
        {% if pokaz_skidka %}<td></td>{% endif %}
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td align="right">Наценка:</td>

        <td align="right">{{ node.get('field_tp_nacenka').getString() | number_format(2, '.', ' ') }}</td>
      </tr>
    {% endif %}
    {% if pokaz_skidka %}
      <tr valign="top">
        <td></td>
        {% if pokaz_nacenka %}<td></td>{% endif %}
        {% if pokaz_skidka %}<td></td>{% endif %}
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td align="right">Скидка:</td>

        <td align="right">{{ node.get('field_tp_skidka').getString() | number_format(2, '.', ' ') }}</td>
      </tr>
    {% endif %}
    <tr valign="top">
      <td></td>
      {% if pokaz_nacenka %}<td></td>{% endif %}
      {% if pokaz_skidka %}<td></td>{% endif %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="right">Итого:</td>

      <td align="right">{{ node.get('field_tp_itogo').getString() | number_format(2, '.', ' ') }}</td>
    </tr>
  </table>
{% endif %}

<br><br>

<table width="100%">
  <tr>
    <td width="50%" style="position: relative"><div class="div-pl-0">Руководитель _______________________________{% if podpis %}</div><img src="{{ podpis }}" width="100" style="margin-left:100px; position: absolute; left: 0;top: -5px;z-index:-100">{% endif %}</td>
    <td align="right" style="position: relative">Бухгалтер ________________________________{% if podpis_bukhgaltera %}<img src="{{ podpis_bukhgaltera }}" width="100" style="margin-left:150px; position: absolute; left: 0;top: -5px; z-index:-100">{% endif %}</td>
  </tr>
  <tr valign="top">
    <td align="center" style="font-size: 14px;position: relative">{% if pechat %}<img src="{{ pechat }}" width="100" style="position: absolute; top: 10px; left: 150px;z-index: -100">{% endif %}м.п.</td>
  </tr>
</table>
</div>
{% endif %}
