{% include '@trinion_backend/.document.css' %}
<div class="doc_form">
<table class="tg div-container">
<tbody>
<tr>
	<td colspan="2" class="tg-2lax top-bold left-bold">{{ node.node_title }}</td>
  <td class="top-bold right-bold">
    {% include '@trinion_backend/node/deystviya_v_shapke_dokumenta.html.twig' %}
  </td>
</tr>
<tr>
    <td width="33%" class="tg-1lax top left-bold right">{{ 'Company' | t }}:</td>
    <td width="33%" class="tg-1lax top right">{{ 'Contact' | t }}:</td>
    <td width="33%" class="tg-1lax top right-bold">{{ 'Amount' | t }}:</td>

  </tr>
  <tr>
    <td class="tg-0lax left-bold bottom right">{{ node.get('field_tl_kompaniya').0.entity.label() }}</td>
    <td class="tg-0lax bottom right">{{ node.get('field_tl_contact').0.entity.label() }}</td>
    <td class="tg-0lax bottom right-bold">{{ node.get('field_tl_summa_sdelki').getString() }}</td>
  </tr>
  <tr>
	<td colspan="3" class="tg-1lax left-bold right-bold">{{ 'Text' | t }}:</td>
  </tr>
  <tr>
	<td colspan="3" class="tg-0lax bottom left-bold right-bold">{{ node.get('field_tl_text').getString() }}</td>
  </tr>

  <tr>
    <td class="tg-1lax left-bold right">{{ 'Organization' | t }}:</td>
	<td class="tg-1lax right">{{ 'Responsible' | t }}:</td>
	<td class="tg-1lax right-bold">{{ 'Author' | t }}:</td>
  </tr>
  <tr>
    <td class="tg-0lax bottom-bold left-bold right"></td>
    <td class="tg-0lax bottom-bold right">{{ node.get('field_tl_otvetstvennyy').entity.get('field_tb_nick_name').getString() }}</td>
	<td class="tg-0lax bottom-bold right-bold">{{ node.get('uid').entity.get('field_tb_nick_name').getString() }}</td>
  </tr>

</tbody>
</table>
</div>
