<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ 'Statuses by document' | t }}</h3>
    <ul class="steps steps-vertical">
      {% if checked_step == -1 %}
        <li class="step-item active hidden"></li>
      {% endif %}
      {% for key, stat in statuses %}
        <li class="step-item {{ key == checked_step ? 'active' }}">
          <div class="h4 m-0">{{ stat.name }}</div>
          <div class="text-secondary">{{ stat.description }}
            {% for doc in stat.docs %}
              № <a href="/node/{{ doc.nid }}">{{ doc.label }}</a>{{ not loop.last ? ', ' }}
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
