{% include '@trinion_backend/.document.css' %}
<div class="doc_form">
<table class="tg div-container">
<tbody>
  <tr>
      <td width="50%" colspan="3" class="tg-1lax top-bold left-bold">{{ 'SKU' | t }}:</td>
      <td class="top-bold right-bold">
        <div class="btn-list">
          <a class="btn btn-icon" data-tooltip="{{ 'Edit' | t }}" data-position="bottom center" href="/node/{{ node.id() }}/edit">{% include '@trinion_backend/svg/edit.svg' %}</a>
          <a class="btn btn-icon" data-tooltip="{{ 'Add price' | t }}" data-position="bottom center" href="/node/add/cena/?tovar={{ node.id() }}&destination=node/{{ node.id() }}">{% include '@trinion_backend/svg/plus.svg' %}</a>
          <a href="/node/{{ node.id() }}/delete?destination=/tovari"  class="btn btn-icon" data-tooltip="{{ 'Remove' | t }}" data-position="bottom center">{% include '@trinion_backend/svg/remove.svg' %}</a>
        </div>
      </td>
  </tr>
  <tr>
	<td colspan="4" class="tg-0lax left-bold bottom right-bold">{{ node.get('field_tp_artikul').getString() }}</td>
  <tr>
      <td colspan="4" class="tg-1lax left-bold right-bold">{{ 'Title' | t }}:</td>
  </tr>
  <tr>
    <td colspan="4" class="tg-0lax left-bold bottom right-bold">{{ node.get('title').getString() }}</td>
  </tr>
  <tr>
    <td colspan="4" class="tg-1lax left-bold right-bold">{{ 'Unit' |t }}:</td>
  </tr>
  <tr>
    <td colspan="4" class="tg-0lax left-bold bottom-bold right-bold">{{ node.get('field_tp_edinica_izmereniya').0.entity.label() }}</td>
  </tr>
</tbody>
</table>
  {{ content | without('field_tp_kharakteristika_tovara', 'field_tp_artikul', 'field_tl_otvetstvennyy', 'price', 'field_tp_edinica_izmereniya') }}</td>
</div>
