{% include '@trinion_backend/.document.css' %}
<style>
  @page {
    margin: 10px 10px 10px 10px !important;
    padding: 0px 0px 0px 0px !important;
  }
  body {
    font-size: 8px;
  }
  td {
    padding: 0px !important;
  }
  .upd-main {
    border-collapse: collapse;
  }
  .upd-main td {
    padding:3px !important;
    font-size:8px;
    line-height: 6px;
    border: solid 1px black;
  }
  .no-bordered td {
    border: 0;
  }
  .bt {
    border-bottom: solid 1px black!important;
  }
  .ac {
    text-align: center;
  }
  .ar {
    text-align: right;
  }
</style>
<table>
  <tr>
    <td valign="top" width="70" style="border-right: solid 1px #000">
      Универсальный<br>передаточный<br>документ
      <br>
      <br>
      <table width="100%" border="0">
        <tr>
          <td width="50%">Статус:</td> <td class="ac" style="border: solid 1px #000;">{{ otgruzka.get('field_tp_status_upd').getString() }}</td>
        </tr>
      </table>
      1 - счет-фактура и передаточный документ (акт)<br>
      2 - передаточный<br>
      документ (акт)
    </td>
    <td valign="top">
      <table width="100%">
        <tr>
          <td>Счет-фактура №</td>
          <td width="450"><table width="300"><tr><td class="bt ac" width="45%">{{ otgruzka.label() }}</td><td class="ac">от</td><td class="bt ac" width="45%">{{ date }}</td><td>(1)</td></tr></table></td>
          <td rowspan="2">
            Приложение № 1<br>
            к постановлению Правительства Российской Федерации<br>
            от 26 декабря 2011 г. № 1137<br>
          </td>
        </tr>
        <tr>
          <td>Исправление №</td>
          <td><table width="300"><tr><td class="bt ac" width="45%"></td><td class="ac">от</td><td class="bt ac" width="45%"></td><td>(1a)</td></tr></table></td>
        </tr>
      </table>
      <table width="100%">
        <tr>
          <td width="130"><b>Продавец</b></td>
          <td class="bt" width="563">{{ org.get('field_tp_polnoe_naimenovanie').getString() ? org.get('field_tp_polnoe_naimenovanie').getString() : org.label() }}</td>
          <td>(2)</td>
        </tr>
        <tr>
          <td>Адрес</td>
          <td class="bt">{{ org.get('field_tl_adres_organizacii').getString() }}</td>
          <td>(2a)</td>
        </tr>
        <tr>
          <td>ИНН/КПП продавца</td>
          <td class="bt">{{ org.get('field_tl_inn').getString() }} / {{ org.get('field_tl_kpp').getString() }}</td>
          <td>(2б)</td>
        </tr>
        <tr>
          <td>Грузоотправитель и его адрес</td>
          <td class="bt">{{ org.get('field_tp_polnoe_naimenovanie').getString() ? org.get('field_tp_polnoe_naimenovanie').getString() : org.label() }}, {{ org.get('field_tl_adres_organizacii').getString() }}</td>
          <td>(3)</td>
        </tr>
        <tr>
          <td>Грузополучатель и его адрес</td>
          <td class="bt">{{ customer.label() }} {{ customer.get('field_tl_adres').getString() }}</td>
          <td>(4)</td>
        </tr>
        <tr>
          <td>К платежно-расчетному документу</td>
          <td class="bt"><table width="50%"><tr><td width="1%">№</td><td class="ac" width="10%"></td><td width="5%">от</td><td></td></tr></table></td>
          <td>(5)</td>
        </tr>
        <tr>
          <td>Документ об отгрузке</td>
          <td class="bt"><table width="100%"><tr><td width="10%">№ п/п</td><td class="ac" width="5%">{{ otgruzka.label() }}</td><td width="5%">№</td><td class="ac" width="10%">{{ node.label() }}</td><td width="5%">от</td><td>{{ date }}</td></tr></table></td>
          <td>(5a)</td>
        </tr>
        <tr>
          <td>Покупатель</td>
          <td class="bt">{{ customer.label() }}</td>
          <td>(6)</td>
        </tr>
        <tr>
          <td>Адрес</td>
          <td class="bt">{{ customer.get('field_tl_adres').getString() }}</td>
          <td>(6a)</td>
        </tr>
        <tr>
          <td>ИНН/КПП покупателя</td>
          <td class="bt">{{ customer.get('field_tl_inn').getString() }} / {{ customer.get('field_tl_kpp').getString() }}</td>
          <td>(6б)</td>
        </tr>
        <tr>
          <td>Валюта: наименование, код</td>
          <td class="bt">Российский рубль, 643</td>
          <td>(7)</td>
        </tr>
        <tr>
          <td>Идентификатор государственного<br>контракта, договора (соглашения)<br>(при наличии)</td>
          <td style="border-bottom: solid 1px #000"></td>
          <td>(8)</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="100%" class="bordered upd-main">
  <tr>
    <td width="16" rowspan="2" align="center">№ п/п</td>
    <td width="45" rowspan="2" align="center">Код товара/ работ, услуг</td>
    <td rowspan="2" align="center" width="200">Наименование товара (описание выполненных работ, оказанных услуг), имущественного права</td>
    <td rowspan="2" align="center">Код вида товара</td>
    <td colspan="2" align="center">Единица измерения</td>
    <td rowspan="2" align="center">Количе-ство (объем)</td>
    <td rowspan="2" align="center">Цена<br>(тариф)<br>за единицу измерения</td>
    <td rowspan="2" align="center">Стоимость товаров<br>(работ, услуг), имущественных прав без налога - всего</td>
    <td rowspan="2" align="center">В том числе сумма акциза</td>
    <td rowspan="2" align="center">Нало- говая ставка</td>
    <td rowspan="2" align="center">Сумма<br>налога, предъявля-<br>емая покупателю</td>
    <td rowspan="2" align="center">Стоимость товаров (работ, услуг), имущественных прав с налогом - всего</td>
    <td colspan="2" align="center">Страна происхождения товара</td>
    <td rowspan="2" align="center">Регистрационный номер декларации<br>на товары или регистрационный номер партии товара, подлежащего прослеживаемости</td>
    <td colspan="2" align="center">Количественная единица измерения товара, используемая в целях осуществления прослеживаемости</td>
    <td rowspan="2" align="center">Количество товара, подлежащего прослеживаемости, в количественной единице измерения товара, используемой в целях осуществления прослеживаемости</td>
  </tr>
  <tr>
    <td align="center">код</td>
    <td align="center">условное обозна-чение (нацио-нальное)</td>
    <td align="center">Циф-ровой код</td>
    <td align="center">Краткое наиме-нование</td>
    <td align="center">код</td>
    <td align="center">условное обозначение</td>
  </tr>
  <tr>
    <td align="center">1</td>
    <td align="center">А</td>
    <td align="center">1а</td>
    <td align="center">1б</td>
    <td align="center">2</td>
    <td align="center">2а</td>
    <td align="center">3</td>
    <td align="center">4</td>
    <td align="center">5</td>
    <td align="center">6</td>
    <td align="center">7</td>
    <td align="center">8</td>
    <td align="center">9</td>
    <td align="center">10</td>
    <td align="center">10а</td>
    <td align="center">11</td>
    <td align="center">12</td>
    <td align="center">12а</td>
    <td align="center">13</td>
  </tr>

  <!--  string-->
  {% set total_items_no_nalog = 0 %}
  {% set total_nalog = 0 %}
  {% set total = 0 %}
  {% for key, item in items %}
    <tr>
      <td class="ac">{{ key + 1 }}</td>
      <td>{{ item.get('field_tp_artikul').getString() }}</td>
      <td>{{ item.get('field_tp_tovar').entity.label() }}</td>
      <td class="ac">--</td>
      <td>{{ item.get('field_tp_edinica_izmereniya') is not empty ? item.get('field_tp_edinica_izmereniya').entity.get('field_tp_kod').getString() }}</td>
      <td class="ac">{{ item.get('field_tp_edinica_izmereniya') is not empty ? item.get('field_tp_edinica_izmereniya').entity.label() }}</td>
      <td class="ar">{{ item.get('field_tp_kolichestvo').getString() }}</td>
      <td class="ar">{{ item.cena_itogo / item.get('field_tp_kolichestvo').getString() }}</td>
      <td class="ar">{{ item.cena_itogo / item.get('field_tp_kolichestvo').getString() * item.get('field_tp_kolichestvo').getString() }}</td>
      <td>без акциза</td>
      <td class="ar">{{ item.get('field_tp_nds').getString() }}</td>
      <td class="ar">{{ item.nds }}</td>
      <td class="ar">{{ item.cena_itogo }}</td>
      <td></td>
      <td></td>
      <td>{{ item.get('field_tp_upd_reg_nomer').getString() }}</td>
      <td>{{ item.get('field_tp_ed_izmereniya_prosl') is not empty ? item.get('field_tp_ed_izmereniya_prosl').entity.get('field_tp_kod').getString() }}</td>
      <td>{{ item.get('field_tp_ed_izmereniya_prosl') is not empty ? item.get('field_tp_ed_izmereniya_prosl').entity.label() }}</td>
      <td class="ar">{{ item.get('field_tp_kolichestvo_proslezh').getString() }}</td>
    </tr>
    {% set total_items_no_nalog = total_items_no_nalog + item.cena_itogo / item.get('field_tp_kolichestvo').getString() * item.get('field_tp_kolichestvo').getString() %}
    {% set total_nalog = total_nalog + item.nds %}
    {% set total = total + item.cena_itogo %}
  {% endfor %}
  <!--  /string-->

  <tr>
    <td style="border-left: 0;border-bottom: 0;" rowspan="5" colspan="2">Документ<br>составлен на<br>___________ листах</td>
    <td colspan="6" style="border-left: 0;border-bottom: 0;">Всего к оплате (9)</td>
    <td class="ar">{{ total_items_no_nalog }}</td>
    <td colspan="2" align="center">Х</td>
    <td class="ar">{{ total_nalog }}</td>
    <td class="ar">{{ total }}</td>
    <td colspan="6" style="border-bottom: 0;"> </td>
  </tr>
  <tr>
    <td colspan="3" style="border: 0;padding-bottom:0!important;">Руководитель организации<br>или иное уполномоченное лицо</td>
    <td colspan="6" style="border: 0;padding-bottom:0!important;" valign="bottom">
      <table class="no-bordered">
        <tr>
          <td class="bt" width="58"></td>
          <td width="1"></td>
          <td class="bt" width="110"></td>
        </tr>
      </table>
    </td>
    <td colspan="2" style="border-left: 0;border-right: 0;border-bottom: 0;padding-bottom:0!important;">Главный бухгалтер<br>или иное уполномоченное лицо</td>
    <td colspan="6" style="border-left: 0;border-bottom: 0;border-top: 0;padding-bottom:0!important;" valign="bottom">
      <table class="no-bordered">
        <tr>
          <td class="bt" width="58"></td>
          <td width="1"></td>
          <td class="bt" width="110"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="border: 0;padding:0!important;font-size: 6px"></td>
    <td colspan="6" style="border: 0;padding-bottom:0!important;" valign="bottom">
      <table class="no-bordered">
        <tr>
          <td width="58" style="text-align:center;border: 0;">(подпись)</td>
          <td width="1"></td>
          <td width="110" style="text-align:center;border: 0;">(ф.и.о.)</td>
        </tr>
      </table>
    </td>
    <td colspan="2" style="border: 0;padding:0!important;font-size: 6px"></td>
    <td colspan="6" style="border-left: 0;border-bottom: 0;border-top: 0;padding:0!important;font-size: 6px">
      <table class="no-bordered">
        <tr>
          <td width="58" style="text-align:center;border: 0;">(подпись)</td>
          <td width="1"></td>
          <td width="110" style="text-align:center;border: 0;">(ф.и.о.)</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td colspan="3" style="border: 0;padding-bottom:0!important;padding-top:0!important;">Индивидуальный предприниматель<br>или иное уполномоченное лицо</td>
    <td colspan="14" style="border-left: 0;border-bottom: 0;border-top: 0;padding-bottom:0!important;padding-top:0!important;" valign="bottom">
      <table class="no-bordered">
        <tr>
          <td class="bt" width="58"></td>
          <td width="1"></td>
          <td class="bt" width="110"></td>
        </tr>ser
      </table>
    </td>
  </tr>

  <tr>
    <td colspan="3" style="border-left: 0;border-right: 0;border-top: 0;padding:0!important;font-size: 6px"></td>
    <td colspan="14" style="border-left: 0;border-top: 0;padding:0!important;font-size: 6px">
      <table class="no-bordered">
        <tr>
          <td width="58" style="text-align:center;border: 0;">(подпись)</td>
          <td width="1"></td>
          <td width="110" style="text-align:center;border: 0;">(ф.и.о.)</td>
        </tr>ser
      </table>
    </td>
  </tr>

  <tr>
    <td colspan="19" valign="bottom" style="border:0;padding-bottom: 0px!important;">Основание передачи (сдачи)/получения (приемки) ___________________________________________________________________________________________________________________________________________________________________________________________________ [10]</td>
  </tr>
  <tr>
    <td colspan="19" style="border:0;padding-left:500px!important;padding-top:0px!important;padding-bottom:0px!important;font-size: 6px">(договор; доверенность и др.)</td>
  </tr>
  <tr>
    <td colspan="19" valign="bottom" style="border:0;padding-top:0px!important;padding-bottom:0px!important;">Данные о транспортировке и грузе ________________________________________________________________________________________________________________________________________________________________________________________________________________ [11]</td>
  </tr>
  <tr>
    <td colspan="19" style="border:0;padding-left:200px!important;padding-top:0px!important;padding-bottom:0px!important;"><sup>(транспортная накладная, поручение экспедитору, экспедиторская/складская расписка и др./масса нетто/брутто груза, если не приведены ссылки на транспортные документы, содержащие эти сведения)</sup></td>
  </tr>
</table>
<table width="100%">
  <tr>
    <td colspan="8">
      <table>
        <tr>
          <td colspan="4">Товар (груз) передал/услуги, результаты работ, права сдал</td>
        </tr>
        <tr>
          <td width="32%">____________________________________   </td>
          <td width="32%">____________________________________   </td>
          <td>____________________________________</td>
          <td width="4%">[12]</td>
        </tr>
        <tr>
          <td style="text-align:center"><sup>(должность)</sup></td>
          <td style="text-align:center"><sup>(подпись)</sup></td>
          <td style="text-align:center"><sup>(ф.и.о.)</sup></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            Дата отгрузки, передачи (сдачи)  "_________" ______________________   _______ г.
          </td>
          <td>[13]</td>
        </tr>
        <tr>
          <td colspan="3">
            Иные сведения об отгрузке,  передаче
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            ________________________________________________________________________________________________________
          </td>
          <td>[14]</td>
        </tr>
        <tr>
          <td colspan="3" style="text-align:center"><sup>(ссылки на неотъемлемые приложения, сопутствующие документы, иные документы и т.п.)</sup>
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">Ответственный за правильность оформления факта хозяйственной жизни</td>
          <td></td>
        </tr>
        <tr>
          <td width="32%">____________________________________   </td>
          <td width="32%">____________________________________   </td>
          <td>____________________________________</td>
          <td width="4%">[15]</td>
        </tr>
        <tr>
          <td style="text-align:center"><sup>(должность)</sup></td>
          <td style="text-align:center"><sup>(подпись)</sup></td>
          <td style="text-align:center"><sup>(ф.и.о.)</sup></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            Наименование экономического субъекта - составителя документа (в т.ч. комиссионера/агента)
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3" class="bt">
            {{ org.get('field_tp_polnoe_naimenovanie').getString() ? org.get('field_tp_polnoe_naimenovanie').getString() : org.label() }}, ИНН/КПП {{ org.get('field_tl_inn').getString() }} / {{ org.get('field_tl_kpp').getString() }}
          </td>
          <td>[16]</td>
        </tr>
        <tr>
          <td colspan="3" style="text-align:center"><sup>(может не заполняться при проставлении печати в М.П., может быть указан ИНН/КПП)</sup>
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3" style="text-align:center"><sup>М.П.</sup>
          </td>
          <td></td>
        </tr>
      </table>
    </td>
    <td colspan="11">

      <table>
        <tr>
          <td colspan="4">Товар (груз) получил/услуги, результаты работ, права принял</td>
        </tr>
        <tr>
          <td width="32%">____________________________________   </td>
          <td width="32%">____________________________________   </td>
          <td>____________________________________</td>
          <td width="4%">[17]</td>
        </tr>
        <tr>
          <td style="text-align:center"><sup>(должность)</sup></td>
          <td style="text-align:center"><sup>(подпись)</sup></td>
          <td style="text-align:center"><sup>(ф.и.о.)</sup></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            Дата получения (приемки) "_________" ______________________   _______ г.
          </td>
          <td>[18]</td>
        </tr>
        <tr>
          <td colspan="3">
            Иные сведения о получении, приемке
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            ________________________________________________________________________________________________________
          </td>
          <td>[19]</td>
        </tr>
        <tr>
          <td colspan="3" style="text-align:center"><sup>(ссылки на неотъемлемые приложения, сопутствующие документы, иные документы и т.п.)</sup>
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">Ответственный за правильность оформления факта хозяйственной жизни</td>
          <td></td>
        </tr>
        <tr>
          <td width="32%">____________________________________   </td>
          <td width="32%">____________________________________   </td>
          <td>____________________________________</td>
          <td width="4%">[20]</td>
        </tr>
        <tr>
          <td style="text-align:center"><sup>(должность)</sup></td>
          <td style="text-align:center"><sup>(подпись)</sup></td>
          <td style="text-align:center"><sup>(ф.и.о.)</sup></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            Наименование экономического субъекта - составителя документа
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3" class="bt">
            {{ customer.label() }}, ИНН/КПП {{ customer.get('field_tl_inn').getString() }} / {{ customer.get('field_tl_kpp').getString() }}
          </td>
          <td>[21]</td>
        </tr>
        <tr>
          <td colspan="3" style="text-align:center"><sup>(может не заполняться при проставлении печати в М.П., может быть указан ИНН/КПП)</sup>
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3" style="text-align:center"><sup>М.П.</sup>
          </td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>

  </tr>

  {#  <tr>#}
  {#    <td colspan="8" style="border-left: 0px;border-top: 0px;border-bottom: 0px;">_________________&nbsp;&nbsp;&nbsp;___________________________&nbsp;&nbsp;&nbsp;___________________________________ [12]</td>#}
  {#    <td colspan="11" style="border-right: 0px;border-top: 0px;border-bottom: 0px;">_________________&nbsp;&nbsp;&nbsp;___________________________&nbsp;&nbsp;&nbsp;___________________________________ [17]</td>#}
  {#  </tr>#}
</table>
