{%  set custom_template = node.get('field_tb_shablon_pechatnoy_formi').0.entity.get('field_tb_template_name').getString() %}
{% if custom_template %}
  {% include '@trinion_user_templates/' ~ custom_template %}
{% else %}

{% include '@trinion_backend/.document.css' %}
<div class="doc_form">
  <div class="row">
    <div class="col-lg-7">
      <h2>Выпуск продукции {{ node.label() }} от {{ node.field_tp_data.date|date('U')|format_date('custom', 'd.m.Y H:i') }}</h2>
    </div>
    <div class="col-lg-5">
      {% include '@trinion_backend/node/deystviya_v_shapke_dokumenta.html.twig' %}
    </div>
  </div>

<table width="100%">
  <tr valign="top">
  <td width="120" style="padding-left: 0px;">
      <div>Склад:</div>
    </td>
  <td>
  <div><strong>{{ node.get('field_tp_sklad').0.entity.label() }}</strong></div>
  </td>
  </tr>
  <tr valign="top">
  <td width="120" style="padding-left: 0px;">
      <div>Подразделение:</div>
    </td>
  <td>
  <div><strong>{{ node.get('field_tp_podrazdelenie').0.entity.label() }}</strong></div>
  </td>
  </tr>
</table>

<div style="float: none; margin: 20px 0;"></div>

<table class="ti items table" width="100%">
  <tr valign="top">
    <th class="tg-1wig" align="center">№</th>
    <th class="tg-1wig" align="left">Материалы</th>
    <th class="tg-1wig" align="right">Количество</th>
    <th class="tg-1wig" align="right">Ед. изм</th>
    <th class="tg-1wig" align="right">Статья затрат</th>
  </tr>
  {% for item in node.get('field_tp_stroki') %}
    <tr valign="top">
      <td align="center" width="30">{{ loop.index }}</td>
      <td>{{ item.entity.field_tp_tovar.0.entity.label() }}</td>
      <td align="right">{{ item.entity.field_tp_kolichestvo.getString() }}</td>
      <td align="right">{{ item.entity.field_tp_edinica_izmereniya is not empty ? item.entity.field_tp_edinica_izmereniya.entity.label() }}</td>
      <td align="right">{{ item.entity.field_tp_statya_zatrat is not empty ? item.entity.field_tp_statya_zatrat.entity.label() }}</td>
    </tr>
  {% endfor %}
</table>
<table class="items" width="100%">
  <tr valign="top">
    <td colspan="8" rowspan="6">
      <div class="div-pl-0">Всего наименований {{ node.get('field_tp_stroki') | length }}</div>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>


<div style="clear: both;"></div>

<br><br>

<table width="100%">
  <tr>
    <td width="50%" style="position: relative; padding-left: 0px;">Кладовщик _______________________________</td>
  </tr>
</table>
</div>

{% endif %}
