{% include '@trinion_backend/.document.css' %}
<div class="doc_form">
<table class="tg div-container">
	<tbody>
	<tr>
		<td colspan="2" class="tg-2lax top-bold left-bold align-content-center">
      {% if is_page %}
        {% set now = 'now' | date('Y-m-d\\TH:i:s') %}
        {% if node.field_tz_vrem_vypoleniya_zadachi.getString() and node.field_tz_vrem_vypoleniya_zadachi.getString() < now %}
        {{ pregReplace('/fill=".+?"/', 'fill="#ff0000"', node.field_tz_status_zadachi.0.entity.field_tz_ikonka.getString()) | raw }}
        {% else %}
        {{ node.field_tz_status_zadachi.0.entity.field_tz_ikonka.getString() | raw }}
        {% endif %}
      {% endif %}
      {% set created_from = node.get('field_tz_sozdan_cherez').getString() %}
      <span class="position-relative" style="top:-2px">
      {% if created_from == 'web' %}
      {% include '@trinion_backend/svg/keyboard.svg' %}
      {% elseif created_from == 'web' %}
      {% include '@trinion_backend/svg/mail.svg' %}
      {% endif %}
      </span>

      {{ node.node_title }} [{{ node.field_tz_proekt.0.entity.label() }}]</td>
      <td class="top-bold right-bold">
        <div class="btn-list">
          <a class="btn btn-icon" data-tooltip="Редактировать" data-position="bottom center" href="/node/{{ node.id() }}/edit">{% include '@trinion_backend/svg/edit.svg' %}</a>
        </div>
      </td>
	</tr>
	<tr>
		<td colspan="3" class="tg-1lax left-bold right-bold">
      {{ 'Subject' | t }}:
    </td>

	</tr>
	<tr>
		<td colspan="3" class="tg-0lax left-bold right-bold">
      {{ content.field_tz_tema }}
    </td>
	</tr>
	<tr>
		<td width="33%" class="tg-1lax top left-bold right">{{ 'Priority' | t }}:</td>
		<td width="33%" class="tg-1lax top right">{{ 'Activity' | t }}:</td>
		<td width="33%" class="tg-1lax top right-bold">{{ 'Status' | t }}:</td>

	</tr>
	  <tr>
		<td class="tg-0lax left-bold bottom right">{{ content.field_tz_prioritet }}</td>
		<td class="tg-0lax bottom right">{{ content.field_tz_deyatelnost }}</td>
		<td class="tg-0lax bottom right-bold">{{ content.field_tz_status_zadachi }}</td>
	  </tr>
	  <tr>
		<td colspan="3" class="tg-1lax left-bold right-bold">{{ 'Description' | t }}:</td>
	  </tr>
	  <tr>
		<td colspan="3" class="tg-0lax left-bold right-bold">{{ content.field_tz_opisanie }}</td>
	  </tr>
	  <tr>
		<td class="tg-1lax left-bold top right">{{ 'Task category' | t }}:</td>
		<td class="tg-1lax right top">{{ 'Planned start time of the task' | t }}:</td>
		<td class="tg-1lax right-bold top">{{ 'Planned end time of the task' | t }}:</td>
	  </tr>
	  <tr>
		<td class="tg-0lax bottom left-bold right">{{ content.field_tz_kategoriya_zadachi }}</td>
		<td class="tg-0lax bottom right">{{ content.field_tz_vremya_nachala_zadachi }}</td>
		<td class="tg-0lax bottom right-bold">{{ content.field_tz_vrem_vypoleniya_zadachi }}</td>
	  </tr>
	  <tr>
		<td class="tg-1lax left-bold right">{{ 'Responsible' | t }}:</td>
		<td class="tg-1lax right">{{ 'Author' | t }}:</td>
		<td class="tg-1lax right-bold">{{ 'Related tasks' | t }}:</td>
	  </tr>
	  <tr>
		<td class="tg-0lax bottom-bold left-bold right">{{ content.field_tz_otvetstvennyy }}</td>
		<td class="tg-0lax bottom-bold right">{{ node.get('uid').entity.get('field_tb_nick_name').getString() }}</td>
		<td class="tg-0lax bottom-bold right-bold">{{ content.field_tz_related_tasks }}</td>
	  </tr>
    {% if content.field_tz_ssylka_na_obekt | render %}
    <tr>
      <td colspan="3" class="tg-1lax bottom-bold left-bold right-bold">{{ 'Object reference' | t }}: <a href="{{ content.field_tz_ssylka_na_obekt.0 | render | striptags }}">{{ content.field_tz_ssylka_na_obekt.0 }}</a></td>
    </tr>
    {% endif %}

	</tbody>
	</table>
</div>
