{%  set custom_template = node.get('field_tb_shablon_pechatnoy_formi').0.entity.get('field_tb_template_name').getString() %}
{% if custom_template %}
  {% include '@trinion_user_templates/' ~ custom_template %}
{% else %}

{% include '@trinion_backend/.document.css' %}
<div class="doc_form">
  <div class="row">
    <div class="col-lg-7">
      <h2>{{ node.node_title }}</h2>
    </div>
    <div class="col-lg-5">
      {% include '@trinion_backend/node/deystviya_v_shapke_dokumenta.html.twig' %}
    </div>
  </div>

<table width="100%">
  <tr valign="top">
  <td width="120" style="padding-left: 0px;">

      <div>Получатель (исполнитель):</div>

    </td>
  <td>
  <div><strong>{{ node.get('field_mrp_rabochiy_centr').0.entity.label() }}</strong></div>

  </td>

  </tr>
</table>

<div style="float: none; margin: 20px 0;"></div>

<table class="ti items table" width="100%">
  <tr valign="top">
    <th class="tg-1wig" align="center">№</th>
    <th class="tg-1wig" align="left">Товары и описание</th>
    <th class="tg-1wig" align="right">Кол-во</th>
    <th class="tg-1wig" align="right">Ед. изм</th>
  </tr>
  {% for item in node.get('field_tp_stroki') %}
    {% set kolichestvo = item.entity.field_tp_kolichestvo.getString() %}
    {% set summa = item.entity.cena_itogo %}

    <tr valign="top">
      <td align="center" width="30">{{ loop.index }}</td>
      <td>{{ item.entity.field_tp_tovar.0.entity.label() }}</td>
      <td align="right">{{ kolichestvo }}</td>
      <td align="right">{{ item.entity.field_tp_edinica_izmereniya is not empty ? item.entity.field_tp_edinica_izmereniya.entity.label() }}</td>
    </tr>
  {% endfor %}
</table>
<table class="items" width="100%">
  <tr valign="top">
    <td colspan="8" rowspan="6">
      <div class="div-pl-0">Всего наименований {{ node.get('field_tp_stroki') | length }}</div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>


<div style="clear: both;"></div>

<br><br>

<table width="100%">
  <tr>
    <td width="50%" style="position: relative; padding-left: 0px;">Отправитель _______________________________{% if podpis %}<img src="{{ podpis }}" width="100" style="margin-left:100px; position: absolute; left: 0;top: -5px;z-index:-100">{% endif %}</td>
    <td align="right" style="position: relative">Получатель ________________________________{% if podpis_bukhgaltera %}<img src="{{ podpis_bukhgaltera }}" width="100" style="margin-left:150px; position: absolute; left: 0;top: -5px; z-index:-100">{% endif %}</td>
  </tr>
  <tr valign="top">
    <td align="center" style="font-size: 14px;position: relative">{% if pechat %}<img src="{{ pechat }}" width="100" style="position: absolute; top: 10px; left: 150px;z-index: -100">{% endif %}м.п.</td>
  </tr>
</table>
</div>

{% endif %}
