{% include '@trinion_backend/.document.css' %}
<div class="doc_form">
<table class="tg div-container">
<tbody>
<tr>
  <td colspan="2" class="tg-2lax top-bold left-bold">Звонок {{ node.id() }} от {{ node.created.getString() | date('d.m.Y') }}</td>
  <td class="top-bold right-bold">
    <div class="btn-list">
      <a class="btn btn-icon start-call-link" data-id="{{ node.id() }}" data-tooltip="Start call" data-position="bottom center" href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg></a>
      <a class="btn btn-icon" data-tooltip="{{ 'Edit' | t }}" data-position="bottom center" href="/node/{{ node.id() }}/edit">{% include '@trinion_backend/svg/edit.svg' %}</a>
    </div>
  </td>
</tr>
<tr>
    <td width="25%" class="tg-1lax top left-bold right-border">{{ 'Who called' | t }}:</td>
    <td width="25%" class="tg-1lax top right-border">{{ 'Type' | t }}:</td>
    <td width="25%" class="tg-1lax top right-bold">{{ 'Phone number' | t }}:</td>

  </tr>
  <tr>
    <td class="tg-0lax left-bold bottom right-border">{{ node.get('field_tt_call_from').0.entity.label() }}</td>
    <td class="tg-0lax bottom right-border">{{ node.get('field_tt_call_type').getString() }}</td>
    <td class="tg-0lax bottom right-bold">{{ node.get('field_tl_nomer_telefona').getString() }}</td>

  </tr>
  <tr>
  <tr>
	<td class="tg-1lax left-bold right-border">{{ 'Duration' | t }}:</td>
  <td class="tg-1lax right-border">{{ 'Link to the record' | t }}:</td>
  <td class="tg-1lax right-bold">{{ 'Missed call' | t }}:</td>
  </tr>
  <tr>
	  <td class="tg-1lax left-bold bottom right-border">{{ node.get('field_tt_dlitelnost').getString() }}</td>
    <td class="tg-1lax bottom right-border">
      {% set record_link = node.get('field_tt_record_url').getString() %}
      {% if record_link %}
        <a href="{{ record_link }}">{{ record_link }}</a>
      {% endif %}
    </td>
    <td class="tg-1lax bottom right-bold">{{ (node.get('field_tt_propuschennyy_zvokon').getString() ? 'yes' : 'no') | t }}</td>
  </tr>

  <tr>
	<td class="tg-1lax left-bold right-border">{{ 'Responsible' | t }}:</td>
	<td class="tg-1lax right-bold" colspan="2">{{ 'Description' | t }}:</td>
  </tr>
  <tr>
    <td class="tg-0lax bottom-bold  left-bold right-border">{{ node.get('field_tt_otvetstvennyy').0.entity.label() }}</td>
    <td class="tg-0lax bottom-bold right-bold" colspan="2">{{ node.get('field_tl_text').getString() }}</td>
  </tr>

</tbody>
</table>
</div>
