{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      {% for item in items %}
        <h4 class="subheader">{{ item.title }}</h4>
        <div class="list-group list-group-transparent">
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      {% for item in items %}
        <a href="{{ item.url }}" class="list-group-item list-group-item-action d-flex align-items-center">{{ item.title }}</a>
      {% endfor %}
    {% endif %}
  {% endif %}
{% endmacro %}
