{% import _self as menus %}
{% macro menu_links(items, attributes, menu_level) %}
  {% if items %}
    {% for item in items %}
      {% if item.below %}
          {% for item3 in item.below %}
            <a href="{{ item3.url }}" class="dropdown-item">
              {{ item3.title }}
            </a>
          {% endfor %}
      {% else %}
        <a href="{{ item.url }}" class="dropdown-item">{{ item.title }}</a>
      {% endif %}
    {% endfor %}
    <div class="dropdown-divider"></div>
    <a href="/user/edit" class="dropdown-item">{{ 'Edit profile' | t }}</a>
    <a href="/user/logout" class="dropdown-item">{{ 'Log out' | t }}</a>
  {% endif %}
{% endmacro %}
<div class="container-xl justify-content-end">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav flex-row order-md-last">
    <div class="d-none d-md-flex">
      <a href="/trinion-dashboard" class="nav-link px-0 hide-theme-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="{{ 'Dashboard' | t }}" data-bs-original-title="{{ 'Dashboard' | t }}">
        {% include '@trinion_backend/svg/dashboard.svg' %}
      </a>
      {{ notices }}
    </div>
    <div class="nav-item dropdown">
      <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
        {% set avatar = account.hasField('user_picture') ? account.get('user_picture').0.entity.uri.value : 0 %}
        {% if avatar %}
          <img src="{{ file_url(avatar) }}" alt="" height="32">
        {% else %}
          <img src="/{{ directory }}/img/default-avatart.png" alt="" height="32">
        {% endif %}
        <div class="d-none d-xl-block ps-2">
          {% set nickname = account.get('field_tb_nick_name').getString() %}
          <div class="dropdown-toggle">{{ nickname ? nickname : account.label() }}</div>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        {{ menus.menu_links(items, attributes, 0) }}
      </div>
    </div>
  </div>
</div>
