{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <div class="datagrid">
    {% for item in items %}
      <div class="datagrid-item">
      {% if menu_level == 0 %}
      <div class="datagrid-title">{{ item.title }}</div>
        {% if item.below %}
          {% for item2 in item.below %}
            <div class="datagrid-content">{{ link(item2.title, item2.url) }}</div>
          {% endfor %}
        {% endif %}
      {% endif %}
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
