{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
  <div class="collapse navbar-collapse" id="sidebar-menu">
    <ul class="navbar-nav pt-lg-3">
    {% import _self as menus %}
    {% if items %}
        {% set i = 0 %}
        {% set plus = '' %}
        {% for key, item in items %}
          {% if key|first != '#' %}
            {% if item.below %}
            {% else %}
              {% set url = item.url | render %}
              {% if url[0:10] == '/node/add/' or url == '/mrp-record-creator' %}
                {% set plus = url %}
              {% else %}
                <li class="nav-item{{ item.in_active_trail ? ' active' }}">
                  {% set i = i + 1 %}
                  <div class="nav-link pe-0">
                    <div class="row align-items-center w-full nav-link-container">
                      <a class="col d-flex" href="{{ item.url }}" >
                        <span class="nav-link-number">{{ i }}</span>
                        <span class="nav-link-title ps-1">{{ item.title }}</span>
                      </a>
                      {% if plus %}
                      <a class="col-auto text-white" href="{{ plus }}"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M9 12h6" /><path d="M12 9v6" /></svg></a>
                      {% endif %}
                    </div>
                  </div>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      <li class="nav-item logout-link">
        <div class="nav-link pe-0">
          <div class="row align-items-center w-full nav-link-container">
            <a class="col d-flex" href="/user/logout" >
              <span class="nav-link-number">{{ i + 1 }}</span>
              <span class="nav-link-title ps-1">{{ 'Log out' | t }}</span>
            </a>
          </div>
        </div>
      </li>
    {% endif %}
    </ul>
  </div>
{% endmacro %}
